<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
		<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
	</appSettings>
  <system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="RemoteOnly" />
		<httpRuntime executionTimeout="900" maxRequestLength="131072" requestPathInvalidCharacters="" requestValidationMode="2.0" />
		<pages clientIDMode="AutoID" enableEventValidation="false" enableViewStateMac="false" validateRequest="false">
			<controls>
				<add tagPrefix="ewf" namespace="RedStapler.StandardLibrary.EnterpriseWebFramework.Controls" assembly="EnterpriseWebLibrary" />
			</controls>
		</pages>
		<sessionState mode="InProc" timeout="600" />
	</system.web>
  <system.webServer>
		<defaultDocument enabled="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<clear />
			<!--<add name="HttpCacheModule" />-->
			<add name="DynamicCompressionModule" />
			<add name="StaticCompressionModule" />
			<add name="DefaultDocumentModule" />
			<add name="ProtocolSupportModule" />
			<add name="StaticFileModule" />
			<add name="AnonymousAuthenticationModule" />
			<add name="RequestFilteringModule" />
			<add name="CustomErrorModule" />
			<add name="ConfigurationValidationModule" />
			<add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule" />
			<add name="ServiceModel-4.0" type="System.ServiceModel.Activation.ServiceHttpModule, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
			<add name="ScriptModule-4.0" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			
		</modules>
		<handlers>
			<clear />

			<add preCondition="integratedMode,runtimeVersionv4.0" name="EwfCssHandler" path="*.css" verb="*" type="RedStapler.StandardLibrary.EnterpriseWebFramework.CssHandling.CssHandler, EnterpriseWebLibrary" />

			<add preCondition="integratedMode,runtimeVersionv4.0" name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

			<add preCondition="integratedMode,runtimeVersionv4.0" name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="ScriptResourceIntegrated-4.0" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="ScriptHandlerFactoryAppServices-Integrated-4.0" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="ChartImageHandler" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

			<add preCondition="integratedMode,runtimeVersionv4.0" name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

			<add preCondition="integratedMode,runtimeVersionv4.0" name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
			<add preCondition="integratedMode,runtimeVersionv4.0" name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule" resourceType="File" requireAccess="Read" />
		</handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="134217728" />
			</requestFiltering>
		</security>

		<!-- This may have fixed an obscure bug that happens with client certificate authentication. We are not sure. -->
		<serverRuntime uploadReadAheadSize="8388608" />

		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10:00:00" />

			<!-- Remove this after all machines have SVG in their applicationHost.config file. -->
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>

		<!-- The only known problem with this is downloads of files in IE with the application/x-zip-compressed content type. This only happens when ZIP files are sent as responses to .aspx page requests since compression is enabled for .aspx. Ordinary static .zip files work fine. -->
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
	</system.webServer>
</configuration>