:root {
	--primary-color: #281e3c;
	--secondary-color: #009245;
	--hover-color: #8cc63f;
	--background-color: #fafafa;
	--breadcrumb-bg-color: #E7ECF3;
	--tab-bg-color: #ced6e0;
	--gray-color: #767676;
	--white-color: #ffffff;
	--black-color: #000000;
	--default-box-shadow: 0px 1px 7px rgb( 0 0 0 / 15% );
	--default-form-color: #ccc;
}

body {
	background-color: hsla( 215, 33%, 93%, 1 );
	color: hsla( 215, 11%, 22%, 1 );
}
@media print {
	body {
		background-color: unset;
	}
}

/* borders */
ewfUiTopTabListContainer {
	border-color: hsl( 0, 0%, 75% );
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	box-shadow: 0 2px 6px rgba( 0, 0, 0, .5 );
	background-color: white;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfUiContentBox {
		box-shadow: unset;
		background-color: unset;
	}
}

/* contrast */
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast,
ewfCheckboxList {
	background-image: linear-gradient( rgba( 0, 0, 0, .05 ), rgba( 0, 0, 0, .05 ) );
}

/* block highlighting */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover,
ewfFlowCheckboxHighlightedState > ewfCheckbox {
	background-color: #81989E;
	background-image: none;
	color: white;
}

/* action controls */
ewfHyperlinkStandardStyleAllNormalStates,
ewfHyperlinkStandardStyleAllVisitedStates,
ewfActionComponentAllStylesAllNormalStates.icon,
ewfActionComponentAllStylesAllVisitedStates.icon,
ewfUiTopTabListContainer ewfUiCurrentTabActionControl,
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	color: hsla( 211, 70%, 45%, 1 );
}
ewfActionComponentAllButtonStylesAllNormalStates, ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: hsla( 211, 70%, 45%, 1 );
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	box-shadow: 0 3px hsla( 211, 70%, 45%, 1 );
}
ewfHyperlinkStandardStyleStatesWithHover,
ewfHyperlinkStandardStyleStatesWithFocus,
ewfActionComponentAllStylesStatesWithHover.icon,
ewfActionComponentAllStylesStatesWithFocus.icon {
	color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesStatesWithHover, ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesAllStates {
	color: white;
}

/* error messages */
ewfErrorMessageListContainer {
	color: hsla( 0, 100%, 47%, 1 );
}

/* master page */
ewfUiOuterGlobalContainer {
	background-color: var( --primary-color );
}
ewfUiUserInfoContainer {
	color: var( --white-color );
}
ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesAllStates {
	color: var( --white-color );
	opacity: .65;
}
ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesStatesWithHover {
	color: var( --hover-color );
	opacity: 1;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllVisitedStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllVisitedStates {
	color: inherit;
}
ewfUiTopTabListContainer ewfUiDisabledTabActionControl, ewfUiSideTabContainer ewfUiDisabledTabActionControl {
	opacity: .2;
}
@media only screen and ( max-width: 768px ) {
	ewfUiGlobalNavListContainer {
		background-color: var( --secondary-color );
		background-image: url( ../../versioned/ui/menu-icon-v1.svg );
		background-repeat: no-repeat;
		background-size: 65%;
		background-position: center;
	}
	ewfUiGlobalNavListContainer:hover, ewfUiGlobalNavListContainer.hover-active {
		background-color: var( --hover-color );
	}
	ewfUiGlobalNavListContainer > ewfUnorderedComponentList {
		box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
		background-color: var( --hover-color );
	}
	ewfUiUserInfoContainer {
		background-image: url( ../../versioned/ui/account-v1.svg );
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
	}
	ewfUiUserInfoContainer:hover {
		background-color: var( --hover-color );
	}
	ewfUiUserInfoContainer > p {
		background-color: var( --hover-color );
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
		background-color: var( --secondary-color );
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList > ewfComponentListItem {
		border-color: rgba( 255, 255, 255, .5 );
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesAllStates {
		opacity: 1;
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesStatesWithHover {
		background-color: var( --hover-color );
		color: var( --white-color );
	}
}

/* new content */
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNewContentActionStates {
	font-weight: bold;
}

/* UI hints */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	opacity: .5;
}