:root {
	--ewf-ui-primary-color: #281e3c;
	--ewf-ui-secondary-color: #009245;

	--ewf-ui-background-color: hsla( 215, 33%, 93%, 1 );
	--ewf-ui-text-color: hsla( 215, 11%, 22%, 1 );
	--ewf-ui-inverted-text-color: #ffffff;
	--ewf-ui-important-border-color: hsla( 0, 0%, 80%, 1 );
	--ewf-ui-faint-border-color: rgba( 0, 0, 0, .1 );
	--ewf-ui-activation-color: #8cc63f;
	--ewf-ui-form-control-placeholder-color: rgb( 175, 175, 175 );
	--ewf-ui-nav-background-color: #ced6e0;
	--ewf-ui-entity-action-color: hsla( 0, 0%, 33%, 1 );
	--ewf-ui-entity-action-activation-color: var( --ewf-ui-primary-color );
	--ewf-ui-side-tab-group-head-color: hsla( 215, 11%, 40%, 1 );
	--ewf-ui-side-tab-activation-color: hsla( 213, 22%, 93%, 1 );
	--ewf-ui-current-side-tab-background-color: hsla( 213, 22%, 89%, 1 );
}

body {
	background-color: var( --ewf-ui-background-color );
}
@media print {
	body {
		background-color: unset;
	}
}
body,
ewfDropDownListContainer > ewfDropDownList > .chosen-single,
ewfDropDownListContainer > ewfDropDownList > .chosen-drop > .chosen-results {
	color: var( --ewf-ui-text-color );
}

/* borders */
ewfSingleLineTextControlAllStates, ewfMultilineTextControlAllStates,
ewfDropDownListContainer > ewfDropDownList, ewfDropDownListContainer > ewfDropDownList > .chosen-single,
ewfModalBox > ewfModalBoxCloseButtonContainer,
ewfUiEntityAndTopTabContainer,
ewfUiTopTabListContainer ewfUiCurrentTabActionControl,
ewfUiSideTabContainer,
ewfUiGlobalFootContainer {
	border-color: var( --ewf-ui-important-border-color );
}
ewfTableStandardAndStandardExceptLayoutStyles > thead > ewfTrAllStates > ewfThAndTd {
	border-color: var( --ewf-ui-faint-border-color );
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	border-bottom-color: transparent;
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfTableStandardAndStandardExceptLayoutStyles, ewfUiContentBox {
	box-shadow: 0 2px 6px rgba( 0, 0, 0, .5 );
	background-color: white;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfUiContentBox {
		box-shadow: unset;
		background-color: unset;
	}
}

/* contrast */
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast,
ewfCheckboxList {
	background-image: linear-gradient( rgba( 0, 0, 0, .02 ), rgba( 0, 0, 0, .02 ) );
}

/* block highlighting */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover,
ewfFlowCheckboxHighlightedState > ewfCheckbox {
	background-color: #81989E;
	background-image: none;
	color: white;
}

/* action components */
ewfHyperlinkStandardStyleAllNormalStates,
ewfHyperlinkStandardStyleAllVisitedStates,
ewfActionComponentAllStylesAllNormalStates.icon,
ewfActionComponentAllStylesAllVisitedStates.icon,
ewfUiTopTabListContainer ewfUiCurrentTabActionControl,
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	color: var( --ewf-ui-secondary-color );
}
ewfActionComponentAllButtonStylesAllNormalStates, ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: var( --ewf-ui-secondary-color );
}
ewfHyperlinkStandardStyleStatesWithHover,
ewfHyperlinkStandardStyleStatesWithFocus,
ewfActionComponentAllStylesStatesWithHover.icon,
ewfActionComponentAllStylesStatesWithFocus.icon {
	color: var( --ewf-ui-activation-color );
}
ewfActionComponentAllButtonStylesStatesWithHover, ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: var( --ewf-ui-activation-color );
}
ewfActionComponentAllButtonStylesAllStates {
	color: white;
}

/* form control placeholders */
::placeholder {
	color: var( --ewf-ui-form-control-placeholder-color );
}

/* list controls */
ewfDropDownListContainer > ewfDropDownList {
	box-shadow: none;
}
ewfDropDownListContainer > ewfDropDownList > .chosen-default {
	color: var( --ewf-ui-form-control-placeholder-color );
}
ewfDropDownListContainer > ewfDropDownList > .chosen-drop > .chosen-results > li.result-selected {
	background-color: var( --ewf-ui-secondary-color );
	color: var( --ewf-ui-inverted-text-color );
}
ewfDropDownListContainer > ewfDropDownList > .chosen-drop > .chosen-results > li.highlighted {
	background-color: var( --ewf-ui-activation-color );
	background-image: none;
	color: var( --ewf-ui-inverted-text-color );
}

/* error messages */
ewfErrorMessageListContainer {
	color: hsla( 0, 100%, 47%, 1 );
}

/* new content */
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNewContentActionStates {
	font-weight: bold;
}

/* UI hints */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	opacity: .5;
}

/* UiPageContent */
ewfTopWarningContainer {
	color: var( --ewf-ui-primary-color );
}
ewfTopWarningContainer > ewfIcon {
	color: #eb2113;
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllNormalStates,
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: #eb2113;
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithHover,
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: #f00;
}
ewfUiOuterGlobalContainer {
	background-color: var( --ewf-ui-primary-color );
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiInnerGlobalContainer ewfActionComponentAllStylesAllStates {
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiInnerGlobalContainer ewfActionComponentAllStylesStatesWithHover {
	color: var( --ewf-ui-activation-color );
}
ewfUiGlobalNavListContainer ewfComponentListItem {
	border-color: rgba( 255, 255, 255, .2 );
}
ewfUiUserInfoContainer {
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
	opacity: .65;
}
ewfUiUserInfoContainer ewfActionComponentAllStylesStatesWithHover {
	opacity: 1;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesAllStates {
	background-color: var( --ewf-ui-secondary-color );
	background-image: url( ../../versioned/ui/menu-icon-v1.svg );
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesStatesWithHover {
	background-color: var( --ewf-ui-activation-color );
}
ewfUiMobileMenu {
	box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
	background-color: var( --ewf-ui-activation-color );
}
ewfUiMobileMenuTabContainer {
	background-color: var( --ewf-ui-secondary-color );
}
ewfUiMobileMenuTabGroupName {
	background-color: var( --ewf-ui-entity-action-color );
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiMobileMenuTabContainer ewfActionComponentAllStylesAllStates {
	border-color: rgba( 255, 255, 255, .3 );
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiMobileMenuTabContainer ewfActionComponentAllStylesStatesWithHover {
	background-color: var( --ewf-ui-activation-color );
}
ewfUiMobileMenuTabContainer ewfUiCurrentTabActionControl {
	background-color: rgba( 255, 255, 255, .3 );
}
ewfUiEntityAndTopTabContainer, ewfUiSideTabContainer, ewfUiGlobalFootContainer {
	background-color: var( --ewf-ui-nav-background-color );
}
ewfUiEntityContainer > ewfPagePathContainer ewfComponentListItem {
	background: url( ../../versioned/ui/arrow-v1.svg ) no-repeat;
}
ewfUiEntityContainer > ewfPagePathContainer ewfActionComponentAllStylesAllStates, ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllStates {
	color: var( --ewf-ui-entity-action-color );
}
ewfUiEntityContainer > ewfPagePathContainer ewfActionComponentAllStylesStatesWithHover, ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesStatesWithHover {
	color: var( --ewf-ui-entity-action-activation-color );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllVisitedStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllVisitedStates {
	color: inherit;
}
ewfUiTopTabListContainer ewfUiDisabledTabActionControl, ewfUiSideTabContainer ewfUiDisabledTabActionControl {
	opacity: .2;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	color: var( --ewf-ui-primary-color );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllActionStates {
	background: linear-gradient( 0, rgba( 255, 255, 255, 1 ) 0, rgba( 255, 255, 255, 0.5 ) 100% );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesStatesWithHover {
	background: none;
	background-color: var( --ewf-ui-activation-color );
	color: var( --ewf-ui-inverted-text-color );
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	background-color: var( --ewf-ui-background-color );
}
ewfUiSideTabGroupHead {
	color: var( --ewf-ui-side-tab-group-head-color );
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	color: inherit;
}
ewfUiSideTabContainer ewfActionComponentAllStylesStatesWithHover, ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	border-left-color: var( --ewf-ui-secondary-color );
}
ewfUiSideTabContainer ewfActionComponentAllStylesStatesWithHover {
	background-color: var( --ewf-ui-side-tab-activation-color );
}
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	background: linear-gradient( to right, var( --ewf-ui-current-side-tab-background-color ), var( --ewf-ui-background-color ) );
}
@media only screen and ( max-width: 768px ) {
	ewfUiInnerGlobalContainer ewfActionComponentAllStylesStatesWithHover {
		color: var( --ewf-ui-inverted-text-color );
	}
	ewfUiUserInfoContainer {
		background-image: url( ../../versioned/ui/account-v1.svg );
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
	}
	ewfUiUserInfoContainer:hover {
		background-color: var( --ewf-ui-activation-color );
	}
	ewfUiUserInfoContainer > p {
		background-color: var( --ewf-ui-activation-color );
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
		background-color: var( --ewf-ui-secondary-color );
	}
	ewfUiUserInfoContainer ewfComponentListItem {
		border-color: rgba( 255, 255, 255, .5 );
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
		opacity: 1;
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesStatesWithHover {
		background-color: var( --ewf-ui-activation-color );
	}
}