:root {
	--ewf-ui-background-color: hsla( 215, 33%, 93%, 1 );

	--primary-color: #281e3c;
	--secondary-color: #009245;
	--hover-color: #8cc63f;
	--background-color: #fafafa;
	--breadcrumb-bg-color: #E7ECF3;
	--tab-bg-color: #ced6e0;
	--gray-color: #767676;
	--white-color: #ffffff;
	--black-color: #000000;
	--default-box-shadow: 0px 1px 7px rgb( 0 0 0 / 15% );
	--default-form-color: #ccc;
}

body {
	background-color: var( --ewf-ui-background-color );
	color: hsla( 215, 11%, 22%, 1 );
}
@media print {
	body {
		background-color: unset;
	}
}

/* borders */
ewfUiTopTabListContainer {
	border-color: hsl( 0, 0%, 75% );
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	box-shadow: 0 2px 6px rgba( 0, 0, 0, .5 );
	background-color: white;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfUiContentBox {
		box-shadow: unset;
		background-color: unset;
	}
}

/* contrast */
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast,
ewfCheckboxList {
	background-image: linear-gradient( rgba( 0, 0, 0, .05 ), rgba( 0, 0, 0, .05 ) );
}

/* block highlighting */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover,
ewfFlowCheckboxHighlightedState > ewfCheckbox {
	background-color: #81989E;
	background-image: none;
	color: white;
}

/* action controls */
ewfHyperlinkStandardStyleAllNormalStates,
ewfHyperlinkStandardStyleAllVisitedStates,
ewfActionComponentAllStylesAllNormalStates.icon,
ewfActionComponentAllStylesAllVisitedStates.icon,
ewfUiTopTabListContainer ewfUiCurrentTabActionControl,
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	color: hsla( 211, 70%, 45%, 1 );
}
ewfActionComponentAllButtonStylesAllNormalStates, ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: hsla( 211, 70%, 45%, 1 );
}
ewfHyperlinkStandardStyleStatesWithHover,
ewfHyperlinkStandardStyleStatesWithFocus,
ewfActionComponentAllStylesStatesWithHover.icon,
ewfActionComponentAllStylesStatesWithFocus.icon {
	color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesStatesWithHover, ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesAllStates {
	color: white;
}

/* error messages */
ewfErrorMessageListContainer {
	color: hsla( 0, 100%, 47%, 1 );
}

/* new content */
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNewContentActionStates {
	font-weight: bold;
}

/* UI hints */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	opacity: .5;
}

/* UiPageContent */
ewfTopWarningContainer {
	color: var( --primary-color );
}
ewfTopWarningContainer > ewfIcon {
	color: #eb2113;
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllNormalStates,
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: #eb2113;
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithHover,
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: #f00;
}
ewfUiOuterGlobalContainer {
	background-color: var( --primary-color );
	color: var( --white-color );
}
ewfUiInnerGlobalContainer ewfActionComponentAllStylesAllStates {
	color: var( --white-color );
}
ewfUiInnerGlobalContainer ewfActionComponentAllStylesStatesWithHover {
	color: var( --hover-color );
}
ewfUiGlobalNavListContainer ewfComponentListItem {
	border-color: rgba( 255, 255, 255, .2 );
}
ewfUiUserInfoContainer {
	color: var( --white-color );
}
ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
	opacity: .65;
}
ewfUiUserInfoContainer ewfActionComponentAllStylesStatesWithHover {
	opacity: 1;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesAllStates {
	background-color: var( --secondary-color );
	background-image: url( ../../versioned/ui/menu-icon-v1.svg );
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesStatesWithHover {
	background-color: var( --hover-color );
}
ewfUiMobileMenu {
	box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
	background-color: var( --hover-color );
}
ewfUiMobileMenuTabContainer {
	background-color: var( --secondary-color );
}
ewfUiMobileMenuTabGroupName {
	background-color: var( --gray-color );
	color: var( --white-color );
}
ewfUiMobileMenuTabContainer ewfActionComponentAllStylesAllStates {
	border-color: rgba( 255, 255, 255, .3 );
	color: var( --white-color );
}
ewfUiMobileMenuTabContainer ewfActionComponentAllStylesStatesWithHover {
	background-color: var( --hover-color );
}
ewfUiMobileMenuTabContainer ewfUiCurrentTabActionControl {
	background-color: rgba( 255, 255, 255, .3 );
}
ewfUiEntityAndTopTabContainer, ewfUiGlobalFootContainer {
	background-color: var( --tab-bg-color );
}
ewfUiEntityContainer > ewfPagePathContainer ewfComponentListItem {
	background: url( ../../versioned/ui/arrow-v1.svg ) no-repeat;
}
ewfUiEntityContainer > ewfPagePathContainer ewfActionComponentAllStylesAllStates, ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllStates {
	color: var( --gray-color );
}
ewfUiEntityContainer > ewfPagePathContainer ewfActionComponentAllStylesStatesWithHover, ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesStatesWithHover {
	color: var( --primary-color );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiTopTabListContainer ewfActionComponentAllStylesAllVisitedStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllNormalStates,
ewfUiSideTabContainer ewfActionComponentAllStylesAllVisitedStates {
	color: inherit;
}
ewfUiTopTabListContainer ewfUiDisabledTabActionControl, ewfUiSideTabContainer ewfUiDisabledTabActionControl {
	opacity: .2;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	color: var( --primary-color );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllActionStates {
	background: linear-gradient( 0, rgba( 255, 255, 255, 1 ) 0, rgba( 255, 255, 255, 0.5 ) 100% );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesStatesWithHover {
	border-color: var( --hover-color );
	background: none;
	background-color: var( --hover-color );
	color: var( --white-color );
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	border-color: var( --ewf-ui-background-color );
	background-color: var( --ewf-ui-background-color );
}
ewfUiSideTabContainer {
	background-color: var( --primary-color );
	color: var( --white-color );
}
ewfUiSideTabGroupHead {
	color: rgba( 255, 255, 255, .5 );
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllActionStates {
	border-color: var( --primary-color );
}
ewfUiSideTabContainer ewfActionComponentAllStylesStatesWithHover {
	border-color: var( --hover-color );
	background-color: rgba( 255, 255, 255, .2 );
	color: var( --white-color );
}
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	border-color: var( --hover-color );
	background-color: rgba( 255, 255, 255, .1 );
	color: var( --hover-color );
}
@media only screen and ( max-width: 768px ) {
	ewfUiInnerGlobalContainer ewfActionComponentAllStylesStatesWithHover {
		color: var( --white-color );
	}
	ewfUiUserInfoContainer {
		background-image: url( ../../versioned/ui/account-v1.svg );
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
	}
	ewfUiUserInfoContainer:hover {
		background-color: var( --hover-color );
	}
	ewfUiUserInfoContainer > p {
		background-color: var( --hover-color );
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		box-shadow: 0 10px 10px rgba( 0, 0, 0, .25 );
		background-color: var( --secondary-color );
	}
	ewfUiUserInfoContainer ewfComponentListItem {
		border-color: rgba( 255, 255, 255, .5 );
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
		opacity: 1;
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesStatesWithHover {
		background-color: var( --hover-color );
	}
}