:root {
	--ewf-base-font-size: clamp(.9rem, 2vw, 1rem);
	--ewf-column-width: 75em;

	--ewf-ui-important-border-width: 1px;
	--ewf-ui-top-level-vertical-spacing: min(1vw, .75rem);
	--ewf-ui-top-level-horizontal-spacing: min(1.5vw, 1.5rem);
	--ewf-ui-navigation-vertical-spacing: min(.5vw, .5rem);
	--ewf-ui-navigation-horizontal-spacing: min(1vw, 1.5rem);
	--ewf-ui-minor-navigation-spacing: .5rem;
	--ewf-ui-large-border-radius: .5em;
	--ewf-ui-page-path-separator-width: 5px;
	--ewf-ui-side-tab-border-width: 4px;
	--ewf-ui-side-tab-vertical-padding: min(.5vw, .4rem);
	--ewf-ui-side-tab-content-width: 11em;

	--ewf-ui-tablet-font-size: 14px;
}

body {
	font-size: var(--ewf-base-font-size);
	margin: 0;
	border: 0;
	padding: 0;
}
@media print {
	body {
		font-size: 11pt;
	}
}

/* main grid */
form {
	display: grid;
	min-height: 100vh;
	grid-template-columns: auto minmax(0, 1fr);
	grid-template-rows: auto auto auto auto auto 1fr auto auto;
	grid-template-areas:
		"topWarning topWarning"
		"global global"
		"entityAndTopTab entityAndTopTab"
		"sideTab pageAction"
		"sideTab content"
		"sideTab contentFoot"
		"globalFoot globalFoot"
		"notification notification";
}
ewfTopWarningContainer {
	grid-area: topWarning;
}
ewfUiOuterGlobalContainer {
	grid-area: global;
}
ewfUiEntityAndTopTabContainer {
	grid-area: entityAndTopTab;
}
ewfUiSideTabContainer {
	grid-area: sideTab;
}
ewfUiPageActionListContainer {
	grid-area: pageAction;
}
ewfUiContentContainer {
	grid-area: content;
}
ewfUiContentFootContainer {
	grid-area: contentFoot;
}
ewfUiGlobalFootContainer {
	grid-area: globalFoot;
}
ewfNotificationSectionContainer {
	grid-area: notification;
}

/* top-level spacing */
ewfTopWarningContainer {
	margin: 0;
	padding: var(--ewf-ui-navigation-vertical-spacing) var(--ewf-ui-top-level-horizontal-spacing);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer,
ewfUiOuterGlobalContainer,
ewfUiMobileMenuGlobalNavListContainer,
ewfUiEntityAndTopTabContainer,
ewfUiPageActionListContainer,
ewfUiContentContainer,
ewfUiContentBox,
ewfUiGlobalFootContainer,
ewfNotificationSectionContainer > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	padding-top: var(--ewf-ui-top-level-vertical-spacing);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer,
ewfUiOuterGlobalContainer,
ewfUiMobileMenuGlobalNavListContainer, ewfUiMobileMenuEntityNavAndActionContainer,
ewfUiEntityContainer,
ewfUiSideTabContainer,
ewfUiContentContainer,
ewfUiContentBox,
ewfUiContentFootContainer,
ewfUiGlobalFootContainer,
ewfNotificationSectionContainer > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	padding-bottom: var(--ewf-ui-top-level-vertical-spacing);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer,
ewfUiAppLogoContainer, ewfUiGlobalNavListContainer,
ewfUiMobileMenuGlobalNavListContainer, ewfUiMobileMenuEntityNavAndActionContainer, ewfUiMobileMenuTabGroupName, ewfUiMobileMenuTabGroup ewfActionComponentAllStylesAllStates,
ewfUiTopErrorMessageListContainer,
ewfUiEntityContainer, ewfUiTopTabListContainer,
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates,
ewfUiPageActionListContainer,
ewfUiContentContainer,
ewfUiContentBox,
ewfUiContentFootContainer,
ewfUiGlobalFootContainer,
ewfNotificationSectionContainer > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	padding-left: var(--ewf-ui-top-level-horizontal-spacing);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer,
ewfUiUserInfoContainer,
ewfUiMobileMenuGlobalNavListContainer, ewfUiMobileMenuEntityNavAndActionContainer, ewfUiMobileMenuTabGroupName, ewfUiMobileMenuTabGroup ewfActionComponentAllStylesAllStates,
ewfUiTopErrorMessageListContainer,
ewfUiEntityContainer, ewfUiTopTabListContainer,
ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates,
ewfUiPageActionListContainer,
ewfUiContentContainer,
ewfUiContentBox,
ewfUiContentFootContainer,
ewfUiGlobalFootContainer,
ewfNotificationSectionContainer > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	padding-right: var(--ewf-ui-top-level-horizontal-spacing);
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin-top: calc(var(--ewf-ui-top-level-vertical-spacing) * -1);
	margin-left: calc(var(--ewf-ui-top-level-horizontal-spacing) * -1);
	margin-right: calc(var(--ewf-ui-top-level-horizontal-spacing) * -1);
}
ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer {
	margin-bottom: calc(var(--ewf-ui-top-level-vertical-spacing) * -1);
}
ewfUiTopErrorMessageListContainer, ewfUiEntitySummaryContainer:nth-child(n + 2) {
	margin-top: var(--ewf-ui-top-level-vertical-spacing);
}
ewfUiEntityAndTopTabContainer, ewfUiContentGrid {
	row-gap: var(--ewf-ui-top-level-vertical-spacing);
}
ewfUiSideTabGroupHead {
	padding-left: calc(var(--ewf-ui-top-level-horizontal-spacing) * .5);
}
ewfUiSideTabContainer ewfActionComponentAllStylesStatesWithHover, ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	border-left-width: var(--ewf-ui-side-tab-border-width);
	border-left-style: solid;
	padding-left: calc(var(--ewf-ui-top-level-horizontal-spacing) - var(--ewf-ui-side-tab-border-width));
}
ewfUiContentGrid {
	column-gap: var(--ewf-ui-top-level-horizontal-spacing);
}

/* navigation spacing */
ewfUiGlobalNavListContainer {
	margin-left: calc(var(--ewf-ui-navigation-horizontal-spacing) * -1);
}
ewfUiGlobalNavListContainer ewfUnorderedComponentList, ewfUiEntityContainer > ewfPagePathContainer > ewfUnorderedComponentList, ewfUiEntityNavAndActionContainer ewfUnorderedComponentList {
	column-gap: 0;
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates, ewfUiGlobalNavListContainer ewfFormItem, ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	padding-left: var(--ewf-ui-navigation-horizontal-spacing);
	padding-right: var(--ewf-ui-navigation-horizontal-spacing);
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates, ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	padding-top: var(--ewf-ui-navigation-vertical-spacing);
	padding-bottom: var(--ewf-ui-navigation-vertical-spacing);
}
ewfUiUserInfoContainer > ewfUnorderedComponentList, ewfUiEntityContainer > ewfPagePathContainer, ewfUiEntityNavAndActionContainer {
	margin: 0 calc(var(--ewf-ui-minor-navigation-spacing) * -1);
}
ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates,
ewfUiEntityContainer > ewfPagePathContainer ewfHyperlinkAllStylesAllStates,
ewfUiEntityContainer > ewfPagePathContainer h1,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllStates,
ewfUiEntityNavAndActionContainer ewfFormItem {
	padding: 0 var(--ewf-ui-minor-navigation-spacing);
}
ewfUiMobileMenuEntityNavListContainer:nth-child(n + 2),
ewfUiMobileMenuEntityActionListContainer:nth-child(n + 2) {
	padding-top: var(--ewf-ui-navigation-vertical-spacing);
}
ewfUiEntityNavAndActionContainer:nth-child(n + 2) {
	margin-top: var(--ewf-ui-navigation-vertical-spacing);
}
ewfUiTopTabListContainer ewfActionComponentAllStylesStatesWithHover, ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	margin-top: -4px;
	padding-top: calc(var(--ewf-ui-navigation-vertical-spacing) + 4px);
}

/* borders */
ewfUiEntityAndTopTabContainer {
	border-bottom-width: var(--ewf-ui-important-border-width);
	border-bottom-style: solid;
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	border-width: var(--ewf-ui-important-border-width);
	border-style: solid;
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	margin-bottom: calc(var(--ewf-ui-important-border-width) * -1);
}
ewfUiSideTabContainer {
	margin-top: calc(var(--ewf-ui-important-border-width) * -1);
	border-right-width: var(--ewf-ui-important-border-width);
	border-right-style: solid;

	/* ensures adjacent-element borders get covered */
	z-index: 1;
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates:nth-child(n + 2), ewfUiGlobalFootContainer {
	border-top-width: var(--ewf-ui-important-border-width);
	border-top-style: solid;
}
ewfUiSideTabContainer ewfUiCurrentTabActionControl {
	margin-right: calc(var(--ewf-ui-important-border-width) * -1);
}
@media print {}

/* max width */
ewfSectionBoxStyleBothStates, ewfUiContentBox, ewfUiPageActionListContainer > ewfUnorderedComponentList, ewfUiContentGrid, ewfUiContentFootActionListContainer {
	margin-left: auto;
	margin-right: auto;
}
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	max-width: var(--ewf-column-width);
}
ewfUiPageActionListContainer > ewfUnorderedComponentList, ewfUiContentGrid, ewfUiContentFootActionListContainer {
	max-width: calc(var(--ewf-column-width) + var(--ewf-ui-top-level-horizontal-spacing) * 2);
}

/* headings and sections */
ewfPagePathContainer {
	font-size: 1.1em;
}
ewfPagePathContainer ewfActionComponentAllStylesAllStates {
	font-weight: 600;
}
ewfPagePathContainer h1 {
	display: inline;
	font-size: 1.3em;
	margin: 0;
	font-weight: 700;
}

/* boxes */
ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer {
	margin-bottom: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin: 0;
}

/* lists */
ewfHtmlBlock ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: circle;
}

/* hyperlinks */
ewfHyperlinkStandardStyleAllStates {
	text-decoration: underline;
}
ewfHyperlinkAllButtonStylesActionlessState,
ewfHyperlinkAllButtonStylesAllNormalStates,
ewfHyperlinkAllButtonStylesAllVisitedStates {
	text-decoration: none;
}
ewfHyperlinkAllButtonStylesStatesWithFocus,
ewfHyperlinkAllButtonStylesStatesWithHover {
	text-decoration: underline;
}

/* images */
img {
	display: block;
}

/* tables */
ewfThAndTd {
	overflow-wrap: break-word;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles {
		border-left: 1pt solid black;
		border-right: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > caption {
	/* prevents text from being cropped by rounded corners in Chrome */
	padding-top: .125em;

	padding-bottom: .5em;
	text-align: left;
	font-weight: 600;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > th:not(.ewfTcTop):not(.ewfTcMiddle):not(.ewfTcBottom):not(.ewfTcBaseLine), ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > td:not(.ewfTcTop):not(.ewfTcMiddle):not(.ewfTcBottom):not(.ewfTcBaseLine) {
	vertical-align: top;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
	padding: .5em;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfTh {
	font-weight: 600;
}
ewfTableStandardAndStandardExceptLayoutStyles > thead > ewfTrAllStates > ewfThAndTd {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
		border-bottom: 1pt solid black;
	}
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates:first-child > ewfThAndTd {
		border-top: 1pt solid black;
	}
}

/* list controls */
ewfDropDownListContainer > ewfDropDownList > .chosen-drop > .chosen-results {
	max-height: 50vh;
}
ewfCheckboxList {
	padding: .5em;
}
ewfCheckboxList > ewfCheckboxListActionContainer {
	margin-bottom: .5em;
	text-align: right;
}
ewfCheckboxList > ewfCheckboxListContentContainer {
	margin: -.25em;
	column-gap: .5em;
}
ewfCheckboxList > ewfCheckboxListContentContainer > ewfUnorderedComponentList > ewfComponentListItem > ewfFlowCheckboxAllStates > ewfCheckbox {
	padding: .25em;
}

/* corner rounding */
ewfTopWarningContainer {
	border-radius: 0;
}
ewfCheckboxList, ewfUiContentBox {
	border-radius: var(--ewf-ui-large-border-radius);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles {
	border-top-left-radius: var(--ewf-ui-large-border-radius);
	border-top-right-radius: var(--ewf-ui-large-border-radius);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child {
	border-bottom-left-radius: var(--ewf-ui-large-border-radius);
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child {
	border-bottom-right-radius: var(--ewf-ui-large-border-radius);
}
ewfUiPageActionListContainer ewfActionComponentAllStylesAllStates {
	border-radius: .25em;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
	ewfTableStandardAndStandardExceptLayoutStyles,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child,
	ewfCheckboxList,
	ewfUiContentBox {
		border-radius: 0;
	}
}

/* error messages */
ewfErrorMessageListContainer {
	font-weight: bold;
}

/* UiPageContent */
ewfTopWarningContainer {
	font-size: .9em;
	border-style: none;
}
ewfTopWarningContainer ewfActionComponentAllStylesAllStates {
	font-size: .85em;
	margin: .1em 1px;
	padding: 5px 12px;
	font-weight: bold;
}
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesAllStates,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesAllStates,
ewfUiTopTabListContainer ewfHyperlinkAllStylesAllStates,
ewfUiSideTabContainer ewfHyperlinkAllStylesAllStates {
	text-decoration: none;
}
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesStatesWithFocus,
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesStatesWithHover,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesStatesWithFocus,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesStatesWithHover {
	text-decoration: revert;
}
ewfUiInnerGlobalContainer {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-areas:
		"appLogo globalNav userInfo mobileMenu"
		"topError topError topError topError";
	align-items: center;
}
ewfUiAppLogoContainer {
	grid-area: appLogo;
}
ewfUiGlobalNavListContainer {
	grid-area: globalNav;
}
ewfUiUserInfoContainer {
	grid-area: userInfo;
}
ewfUiMobileMenuContainer {
	grid-area: mobileMenu;
}
ewfUiTopErrorMessageListContainer {
	grid-area: topError;
}
ewfUiAppLogoContainer ewfImage {
	max-width: 10vw;
	max-height: 2.5rem;
	object-fit: contain;
}
ewfUiGlobalNavListContainer, ewfUiUserInfoContainer {
	font-size: .9em;
}
ewfUiGlobalNavListContainer ewfComponentListItem {
	border-left-width: 2px;
	border-left-style: solid;
}
ewfUiGlobalNavListContainer ewfComponentListItem:first-child {
	border-left-style: none;
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates {
	font-weight: bold;
}
ewfUiUserInfoContainer {
	text-align: right;
	line-height: 1.5;
}
ewfUiUserInfoContainer > p {
	margin: 0;
}
ewfUiUserInfoContainer > ewfUnorderedComponentList {
	display: flex;
	padding: 0;
	list-style-type: none;
	justify-content: flex-end;
}
ewfUiMobileMenuContainer {
	display: none;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesAllStates {
	display: block;
	width: 55px;
	height: 55px;
}
ewfUiMobileMenu {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}
ewfUiMobileMenuTabGroupName, ewfUiMobileMenuTabGroup ewfActionComponentAllStylesAllStates {
	font-size: 1.2em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
ewfUiMobileMenuTabGroup > ewfUnorderedComponentList {
	margin: 0;
	gap: 0;
}
ewfUiMobileMenuTabGroup ewfActionComponentAllStylesAllStates {
	display: block;
}
ewfUiMobileMenuTabGroup ewfComponentListItem:nth-child(n + 2) ewfActionComponentAllStylesAllStates {
	border-top-width: 1px;
	border-top-style: solid;
}
ewfUiMobileMenuTabContainer ewfUiCurrentTabActionControl {
	margin-top: 0;
	border-top-style: none;
	border-radius: 0;
	padding-left: 6vw;
	font-weight: normal;
	font-style: italic;
}
ewfUiTopErrorMessageListContainer {
	font-size: 1.4em;
}
ewfUiEntityAndTopTabContainer {
	display: flex;
	flex-flow: row wrap;
}
ewfUiEntityContainer, ewfUiTopTabListContainer {
	font-size: .9em;
	letter-spacing: -.025em;
}
ewfUiEntityContainer {
	flex-grow: 1;
}
@media print {
	ewfUiEntityContainer {
		border-top: 1pt solid black;
		border-bottom: 1pt solid black;
	}
}
ewfUiEntityContainer > ewfPagePathContainer {
	display: flex;
	align-items: center;
}
ewfUiEntityContainer > ewfPagePathContainer ewfComponentListItem {
	background-position: center right;
	background-size: var(--ewf-ui-page-path-separator-width);
	padding-right: var(--ewf-ui-page-path-separator-width);
}
ewfUiEntityContainer > ewfPagePathContainer ewfImage {
	display: revert;
	width: 1.5em;
}
ewfUiEntityNavAndActionContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}
ewfUiEntityActionListContainer > ewfUnorderedWrappingList,
ewfUiPageActionListContainer > ewfUnorderedWrappingList,
ewfUiContentFootActionListContainer > ewfUnorderedWrappingList {
	justify-content: flex-end;
}
ewfUiTopTabListContainer {
	display: flex;
	flex-grow: 10000;
	font-size: clamp(.8rem, 1.5vw, 1.1em);
}
ewfUiTopTabListContainer ewfUnorderedComponentList {
	gap: 1px;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	display: block;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	border-radius: 5px 5px 0 0;
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	font-weight: bold;
}
ewfUiSideTabContainer {
	font-size: .9em;
	width: calc(var(--ewf-ui-side-tab-content-width) + var(--ewf-ui-top-level-horizontal-spacing) * 2);
}
ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	padding-top: var(--ewf-ui-side-tab-vertical-padding);
	padding-bottom: var(--ewf-ui-side-tab-vertical-padding);
}
ewfUiSideTabGroupHead {
	font-size: .9em;
	padding-top: calc(var(--ewf-ui-side-tab-vertical-padding) * 1.5);
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	font-weight: 600;
}
ewfUiPageActionListContainer ewfActionComponentAllStylesAllStates {
	display: inline-block;
	padding: .1em .3em;
	white-space: nowrap;
}
ewfUiPageActionListContainer ewfHyperlinkAllStylesActionlessState,
ewfUiPageActionListContainer ewfHyperlinkAllStylesAllNormalStates,
ewfUiPageActionListContainer ewfHyperlinkAllStylesAllVisitedStates {
	text-decoration: none;
}
ewfUiPageActionListContainer ewfHyperlinkAllStylesStatesWithFocus,
ewfUiPageActionListContainer ewfHyperlinkAllStylesStatesWithHover {
	text-decoration: underline;
}
ewfUiContentGrid {
	display: grid;
	grid-template-columns: 1fr;
}
ewfUiContentGrid > ewfSectionBoxStyleBothStates {
	margin: 0;
}
ewfUiContentFootContainer {
	text-align: center;
}
ewfUiPoweredByEwlFooterContainer {
	font-size: .9em;
	text-align: center;
}
@media only screen and (max-width: 1200px) {
	ewfUiAppLogoContainer ewfImage {
		width: 150px;
		max-height: none;
	}
	ewfUiUserInfoContainer > p {
		font-size: var(--ewf-ui-tablet-font-size);
	}
	ewfUiEntityAndTopTabContainer {
		gap: 0;
	}
	ewfUiEntityContainer, ewfUiTopTabListContainer {
		width: 100%;
	}
	ewfUiEntityContainer ewfPagePathContainer ewfComponentListItem {
		padding-right: 1.5vw;
	}
	ewfUiTopTabListContainer {
		padding: 0 1vw;
	}
	ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
		font-size: var(--ewf-ui-tablet-font-size);
	}
}
@media only screen and (max-width: 768px) {
	ewfUiOuterGlobalContainer {
		padding: 0;
	}
	ewfUiInnerGlobalContainer {
		grid-template-columns: auto 1fr auto auto;
	}
	ewfUiAppLogoContainer {
		flex: 1;
	}
	ewfUiAppLogoContainer ewfImage {
		margin: 0 4vw;
		width: auto;
		height: 30px;
	}
	ewfUiGlobalNavListContainer, ewfUiEntityNavAndActionContainer, ewfUiTopTabListContainer, ewfUiSideTabContainer {
		display: none;
	}
	ewfUiUserInfoContainer {
		order: 1;
		padding: 0;
		flex: 0 1 auto;
		width: 55px;
		height: 55px;
	}
	ewfUiUserInfoContainer > p {
		display: none;
		position: absolute;
		font-size: 16px;
		top: 55px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 50px;
		font-weight: bold;
		z-index: 0;
	}
	ewfUiUserInfoContainer:hover > p {
		display: block;
		z-index: 1000;
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		display: block;
		position: absolute;
		top: 105px;
		left: 0;
		width: 100%;
		transform-origin: 0 0;
		transform: scaleY(0);
		text-align: left;
		z-index: 0;
	}
	ewfUiUserInfoContainer:hover > ewfUnorderedComponentList {
		transform: scaleY(1);
		z-index: 1000;
	}
	ewfUiUserInfoContainer ewfComponentListItem {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-align: center;
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
		font-size: 16px;
		padding: 3vw 0;
		width: 100%;
		line-height: 50px;
		text-decoration: none;
	}
	ewfUiMobileMenuContainer {
		display: revert;
	}
	ewfUiEntityContainer > ewfPagePathContainer ewfComponentListItem:nth-last-child(n + 4) {
		display: none;
	}
}
@media print {
	ewfUiGlobalNavListContainer,
	ewfUiUserInfoContainer,
	ewfUiTopErrorMessageListContainer,
	ewfUiEntityNavAndActionContainer,
	ewfUiSideTabContainer,
	ewfUiPageActionListContainer,
	ewfUiContentFootContainer {
		display: none;
	}
}

/* log-in page */
.ewfLogInPasswordContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: .5em 1.5em;
}
.ewfLogInPasswordContainer > div > span {
	margin-right: .5em;
}

/* diagnostic log page */
body.ewfDiagnosticLog ewfSectionBoxStyleBothStates, body.ewfDiagnosticLog ewfUiContentBox, body.ewfDiagnosticLog ewfUiContentFootActionListContainer {
	max-width: revert;
}
body.ewfDiagnosticLog pre {
	font-size: min(2.5vw, 1rem);
	white-space: pre-wrap;
}