body {
	font-size: 1rem;
	margin: 0 0 1rem 0;
	border: 0;
	padding: 0;
}
ewfUiGlobalContainer {
	padding-top: 1rem;
}
@media print {
	body {
		font-size: 11pt;
		margin: 0;
	}
}


/* spacing */

ewfUiEntityContainer > *, ewfUiSideTabAndContentBlock, ewfUiGlobalFootContainer {
	margin-top: 1em;
}
ewfUiEntityContainer > *:first-child {
	margin-top: 0;
}
ewfUiTopErrorMessageListContainer,
ewfUiGlobalNavListContainer,
ewfUiEntityContainer,
ewfUiTopTabListContainer {
	margin-top: 1rem;
}
ewfUiGlobalContainer {
	padding-bottom: 1rem;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	padding: .5rem 1rem;
}

ewfUiAppLogoAndUserInfoContainer {
	margin-top: -.25rem;
	margin-bottom: -.25rem;
}
ewfUiAppLogoAndUserInfoContainer > * {
	margin-top: .25rem;
	margin-bottom: .25rem;
}


/* borders */
ewfUiGlobalContainer, ewfUiTopTabListContainer {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
@media print {
	ewfUiGlobalContainer {
		border-bottom: unset;
	}
}

/* headings and sections */
ewfPagePath {
	font-size: 1.1em;
}
ewfPagePath > ewfActionComponentAllStylesAllStates {
	font-weight: 600;
}
ewfPagePath > h1 {
	display: inline;
	font-size: 1.3em;
	margin: 0;
	font-weight: 700;
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	padding: 1em;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin-top: -1em;
	margin-right: -1em;
	margin-left: -1em;
	padding: 1em;
}
ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer {
	margin-bottom: -1em;
}
ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer {
	margin-bottom: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin: 0;
}

/* lists */
ewfHtmlBlock ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: circle;
}

/* hyperlinks */
ewfHyperlinkStandardStyleAllStates {
	text-decoration: underline;
}
ewfHyperlinkAllButtonStylesActionlessState,
ewfHyperlinkAllButtonStylesAllNormalStates,
ewfHyperlinkAllButtonStylesAllVisitedStates {
	text-decoration: none;
}
ewfHyperlinkAllButtonStylesStatesWithFocus,
ewfHyperlinkAllButtonStylesStatesWithHover {
	text-decoration: underline;
}

/* images */
img {
	display: block;
}

/* tables */
ewfThAndTd {
	overflow-wrap: break-word;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles {
		border-left: 1pt solid black;
		border-right: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > caption {
	padding-top: .125em; /* prevents text from being cropped by rounded corners in Chrome */
	padding-bottom: .5em;
	text-align: left;
	font-weight: 600;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > th:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ), ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > td:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ) {
	vertical-align: top;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
	padding: .5em;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
		border-bottom: 1pt solid black;
	}
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates:first-child > ewfThAndTd {
		border-top: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfTh {
	font-weight: 600;
}

/* list controls */
ewfCheckboxList {
	padding: .5em;
}
ewfCheckboxList > ewfCheckboxListActionContainer {
	margin-bottom: .5em;
	text-align: right;
}
ewfCheckboxList > ewfCheckboxListContentContainer {
	margin: -.25em;
	column-gap: .5em;
}
ewfCheckboxList > ewfCheckboxListContentContainer > ewfUnorderedComponentList > ewfComponentListItem > ewfFlowCheckboxAllStates > ewfCheckbox {
	padding: .25em;
}

/* corner rounding */
ewfCheckboxList, ewfUiContentBox {
	border-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child {
	border-bottom-left-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child {
	border-bottom-right-radius: .5em;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
	ewfTableStandardAndStandardExceptLayoutStyles,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child,
	ewfCheckboxList,
	ewfUiContentBox {
		border-radius: 0;
	}
}

/* error messages */
ewfErrorMessageListContainer {
	font-weight: bold;
}

/* master page */
ewfNotificationSpacer {
	display: none;
}
ewfUiAppLogoAndUserInfoContainer, ewfUiTopErrorMessageListContainer, ewfUiGlobalNavListContainer, ewfUiEntityAndTabAndContentBlock, ewfUiGlobalFootContainer {
	margin-left: auto;
	margin-right: auto;
	max-width: 75rem;
}
ewfUiAppLogoAndUserInfoContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
ewfUiUserInfoContainer {
	text-align: right;
}
ewfUiUserInfoContainer > ewfUnorderedInlineList {
	margin-left: .5em;
}
ewfUiTopErrorMessageListContainer {
	font-size: 1.4em;
}
@media print {
	ewfUiEntityContainer {
		border-top: 1pt solid black;
		border-bottom: 1pt solid black;
	}
}
ewfUiEntityContainer ewfPagePath {
	margin: 0;
}
ewfUiEntityNavAndActionContainer {
	display: flex;
	margin-top: .5rem;
	align-items: center;
}
UiEntityNavListContainer, ewfUiEntityActionListContainer {
	flex-grow: 1;
}
ewfUiEntityActionListContainer, ewfUiPageActionListContainer {
	text-align: right;
}
ewfUiEntityActionListContainer > ewfUnorderedLineList, ewfUiPageActionListContainer > ewfUnorderedLineList {
	justify-content: flex-end;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	display: block;
	font-weight: 600;
	text-decoration: none;
}
ewfUiTopTabListContainer {
	font-size: 1.1em;
}
ewfUiTopTabListContainer > ewfUnorderedLineList > ewfComponentListItem {
	margin-left: 0;
}
ewfUiSideTabAndContentBlock {
	width: 100%;
	table-layout: fixed;
}
ewfUiSideTabContainerCell, ewfUiPageActionAndContentAndContentFootCell {
	vertical-align: top;
}
ewfUiSideTabContainerCell {
	padding-right: 1rem;
	width: 12.5em;
}
ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	padding-top: .2rem;
	padding-bottom: .2rem;
}
ewfUiSideTabGroupHead {
	font-size: .8em;
}
ewfUiSideTabGroupHead:not( :first-child ) {
	padding-top: .5rem;
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	font-size: .9em;
}
ewfUiPageActionListContainer {
	margin-bottom: 1em;
	margin-left: 1em;
}
ewfUiContentFootActionListContainer > ewfUnorderedLineList {
	justify-content: flex-end;
}
ewfUiPoweredByEwlFooterContainer {
	font-size: .9em;
	text-align: center;
}
@media print {
	ewfUiUserInfoContainer,
	ewfUiTopErrorMessageListContainer,
	ewfUiGlobalNavListContainer,
	ewfUiEntityNavAndActionContainer,
	ewfUiSideTabContainerCell,
	ewfUiPageActionListContainer,
	ewfUiContentFootBlock {
		display: none;
	}
}

/* log-in page */
.ewfLogInPasswordContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: .5em 1.5em;
}
.ewfLogInPasswordContainer > div > span {
	margin-right: .5em;
}