:root {
	--ewf-small-font-size: .9rem;

	--ewf-ui-top-level-vertical-spacing: 1rem;
	--ewf-ui-top-level-horizontal-spacing: 2rem;
	--ewf-ui-navigation-vertical-spacing: .5rem;
	--ewf-ui-navigation-horizontal-spacing: 1.5rem;
	--ewf-ui-page-path-separator-width: 5px;
	--ewf-ui-side-tab-border-width: 4px;
	--ewf-ui-side-tab-content-width: 11em;

	--ewf-ui-tablet-font-size: 14px;
}

body {
	font-size: 1rem;
	margin: 0;
	border: 0;
	padding: 0;
}
@media print {
	body {
		font-size: 11pt;
	}
}

/* main grid */
form {
	display: grid;
	min-height: 100vh;
	grid-template-columns: auto minmax( 0, 1fr );
	grid-template-rows: auto auto auto auto auto auto 1fr auto;
	grid-template-areas: "notificationSpacer notificationSpacer"
	                     "topWarning topWarning"
	                     "global global"
	                     "entityAndTopTab entityAndTopTab"
	                     "sideTab pageAction"
	                     "sideTab content"
	                     "sideTab contentFoot"
	                     "globalFoot globalFoot";
}
ewfNotificationSpacer {
	grid-area: notificationSpacer;
}
ewfTopWarningContainer {
	grid-area: topWarning;
}
ewfUiOuterGlobalContainer {
	grid-area: global;
}
ewfUiEntityAndTopTabContainer {
	grid-area: entityAndTopTab;
}
ewfUiSideTabContainer {
	grid-area: sideTab;
}
ewfUiPageActionListContainer {
	grid-area: pageAction;
}
ewfUiContentContainer {
	grid-area: content;
}
ewfUiContentFootContainer {
	grid-area: contentFoot;
}
ewfUiGlobalFootContainer {
	grid-area: globalFoot;
}

/* top-level spacing */
ewfTopWarningContainer {
	margin: 0;
	padding: var( --ewf-ui-navigation-vertical-spacing ) var( --ewf-ui-top-level-horizontal-spacing );
}
ewfUiOuterGlobalContainer, ewfUiEntityContainer, ewfUiTopTabListContainer, ewfUiPageActionListContainer, ewfUiContentContainer, ewfUiGlobalFootContainer {
	padding-top: var( --ewf-ui-top-level-vertical-spacing );
}
ewfUiOuterGlobalContainer, ewfUiEntityContainer, ewfUiSideTabContainer, ewfUiContentContainer, ewfUiContentFootContainer, ewfUiGlobalFootContainer {
	padding-bottom: var( --ewf-ui-top-level-vertical-spacing );
}
ewfUiAppLogoContainer, ewfUiEntityContainer, ewfUiTopTabListContainer, ewfUiPageActionListContainer, ewfUiContentContainer, ewfUiContentFootContainer, ewfUiGlobalFootContainer {
	padding-left: var( --ewf-ui-top-level-horizontal-spacing );
}
ewfUiUserInfoContainer, ewfUiEntityContainer, ewfUiTopTabListContainer, ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates, ewfUiPageActionListContainer, ewfUiContentContainer, ewfUiContentFootContainer, ewfUiGlobalFootContainer {
	padding-right: var( --ewf-ui-top-level-horizontal-spacing );
}
ewfUiTopErrorMessageListContainer, ewfUiEntityContainer > * {
	margin-top: var( --ewf-ui-top-level-vertical-spacing );
}
ewfUiEntityContainer > *:first-child {
	margin-top: 0;
}
ewfUiEntityAndTopTabContainer {
	row-gap: var( --ewf-ui-top-level-vertical-spacing );
}
ewfUiSideTabGroupHead {
	padding-left: calc( var( --ewf-ui-top-level-horizontal-spacing ) * .75 );
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	border-left-width: var( --ewf-ui-side-tab-border-width );
	padding-left: calc( var( --ewf-ui-top-level-horizontal-spacing ) - var( --ewf-ui-side-tab-border-width ) );
}

/* navigation spacing */
ewfUiGlobalNavListContainer {
	margin-left: calc( var( --ewf-ui-top-level-horizontal-spacing ) - var( --ewf-ui-navigation-horizontal-spacing ) );
}
ewfUiGlobalNavListContainer ewfUnorderedComponentList, ewfUiEntityNavAndActionContainer ewfUnorderedComponentList {
	column-gap: 0;
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates, ewfUiGlobalNavListContainer ewfFormItem {
	padding-left: var( --ewf-ui-navigation-horizontal-spacing );
	padding-right: var( --ewf-ui-navigation-horizontal-spacing );
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates, ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	padding-top: var( --ewf-ui-navigation-vertical-spacing );
	padding-bottom: var( --ewf-ui-navigation-vertical-spacing );
}
ewfUiUserInfoContainer > ewfUnorderedComponentList, ewfUiEntityContainer > ewfPagePathContainer, ewfUiEntityNavAndActionContainer {
	margin: 0 calc( var( --ewf-list-item-spacing ) * -1 );
}
ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates,
ewfUiEntityContainer > ewfPagePathContainer ewfHyperlinkAllStylesAllStates,
ewfUiEntityContainer > ewfPagePathContainer h1,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllStates,
ewfUiEntityNavAndActionContainer ewfFormItem {
	padding: 0 var( --ewf-list-item-spacing );
}
ewfUiEntityNavAndActionContainer {
	margin-top: var( --ewf-ui-navigation-vertical-spacing );
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	padding: .5rem 1rem;
}

/* borders */
ewfUiTopTabListContainer {
}
@media print {
}

/* headings and sections */
ewfPagePathContainer {
	font-size: 1.1em;
}
ewfPagePathContainer ewfActionComponentAllStylesAllStates {
	font-weight: 600;
}
ewfPagePathContainer h1 {
	display: inline;
	font-size: 1.3em;
	margin: 0;
	font-weight: 700;
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	max-width: 75em;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin-top: -1em;
	margin-right: -1em;
	margin-left: -1em;
	padding: 1em;
}
ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer {
	margin-bottom: -1em;
}
ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer {
	margin-bottom: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin: 0;
}

/* lists */
ewfHtmlBlock ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: circle;
}

/* hyperlinks */
ewfHyperlinkStandardStyleAllStates {
	text-decoration: underline;
}
ewfHyperlinkAllButtonStylesActionlessState,
ewfHyperlinkAllButtonStylesAllNormalStates,
ewfHyperlinkAllButtonStylesAllVisitedStates {
	text-decoration: none;
}
ewfHyperlinkAllButtonStylesStatesWithFocus,
ewfHyperlinkAllButtonStylesStatesWithHover {
	text-decoration: underline;
}

/* images */
img {
	display: block;
}

/* tables */
ewfThAndTd {
	overflow-wrap: break-word;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles {
		border-left: 1pt solid black;
		border-right: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > caption {
	padding-top: .125em; /* prevents text from being cropped by rounded corners in Chrome */
	padding-bottom: .5em;
	text-align: left;
	font-weight: 600;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > th:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ), ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > td:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ) {
	vertical-align: top;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
	padding: .5em;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfTh {
	font-weight: 600;
}
ewfTableStandardAndStandardExceptLayoutStyles > thead > ewfTrAllStates > ewfThAndTd {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
		border-bottom: 1pt solid black;
	}
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates:first-child > ewfThAndTd {
		border-top: 1pt solid black;
	}
}

/* list controls */
ewfDropDownListContainer > ewfDropDownList > .chosen-drop > .chosen-results {
	max-height: 50vh;
}
ewfCheckboxList {
	padding: .5em;
}
ewfCheckboxList > ewfCheckboxListActionContainer {
	margin-bottom: .5em;
	text-align: right;
}
ewfCheckboxList > ewfCheckboxListContentContainer {
	margin: -.25em;
	column-gap: .5em;
}
ewfCheckboxList > ewfCheckboxListContentContainer > ewfUnorderedComponentList > ewfComponentListItem > ewfFlowCheckboxAllStates > ewfCheckbox {
	padding: .25em;
}

/* corner rounding */
ewfTopWarningContainer {
	border-radius: 0;
}
ewfCheckboxList, ewfUiContentBox {
	border-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child {
	border-bottom-left-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child {
	border-bottom-right-radius: .5em;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
	ewfTableStandardAndStandardExceptLayoutStyles,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child,
	ewfCheckboxList,
	ewfUiContentBox {
		border-radius: 0;
	}
}

/* error messages */
ewfErrorMessageListContainer {
	font-weight: bold;
}

/* UiPageContent */
ewfNotificationSpacer {
	display: none;
}
ewfTopWarningContainer {
	font-size: var( --ewf-small-font-size );
	border-style: none;
}
ewfTopWarningContainer ewfActionComponentAllStylesAllStates {
	font-size: .85em;
	margin-left: 1px;
	margin-right: 1px;
	padding: 5px 12px;
	font-weight: bold;
}
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesAllStates,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesAllStates,
ewfUiTopTabListContainer ewfHyperlinkAllStylesAllStates,
ewfUiSideTabContainer ewfHyperlinkAllStylesAllStates {
	text-decoration: none;
}
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesStatesWithFocus,
ewfUiInnerGlobalContainer ewfHyperlinkAllStylesStatesWithHover,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesStatesWithFocus,
ewfUiEntityNavAndActionContainer ewfHyperlinkAllStylesStatesWithHover {
	text-decoration: revert;
}
ewfUiInnerGlobalContainer {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-areas: "appLogo globalNav userInfo mobileMenu";
	align-items: center;
}
ewfUiAppLogoContainer {
	grid-area: appLogo;
}
ewfUiAppLogoContainer ewfImage {
	max-width: 10vw;
	max-height: 2.5rem;
	object-fit: contain;
}
ewfUiGlobalNavListContainer, ewfUiUserInfoContainer {
	font-size: var( --ewf-small-font-size );
}
ewfUiGlobalNavListContainer {
	grid-area: globalNav;
}
ewfUiGlobalNavListContainer ewfComponentListItem {
	border-left-width: 2px;
	border-left-style: solid;
}
ewfUiGlobalNavListContainer ewfComponentListItem:first-child {
	border-left-style: none;
}
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates {
	font-weight: bold;
}
ewfUiUserInfoContainer {
	grid-area: userInfo;
	text-align: right;
	line-height: 1.5;
}
ewfUiUserInfoContainer > p {
	margin: 0;
}
ewfUiUserInfoContainer > ewfUnorderedComponentList {
	display: flex;
	padding: 0;
	list-style-type: none;
	justify-content: flex-end;
}
ewfUiMobileMenuContainer {
	grid-area: mobileMenu;
	display: none;
}
ewfUiMobileMenuContainer > ewfActionComponentAllStylesAllStates {
	display: block;
	width: 55px;
	height: 55px;
}
ewfUiMobileMenu {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}
ewfUiMobileMenuGlobalNavListContainer > ewfUnorderedComponentList {
	display: grid;
	width: 100%;
	height: 50px;
	grid-auto-columns: minmax( 0, 1fr );
	grid-auto-flow: column;
	text-align: center;
}
ewfUiMobileMenuTabGroupName {
	display: block;
	font-size: 16px;
	padding: 3vw 4vw;
	text-align: center;
	font-weight: normal;
}
ewfUiMobileMenuTabGroup > ewfUnorderedComponentList {
	padding: 0;
	list-style-type: none;
}
ewfUiMobileMenuTabContainer ewfActionComponentAllStylesAllStates {
	display: block;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 3vw 4vw;
	text-align: center;
}
ewfUiMobileMenuTabGroup:last-child ewfComponentListItem:last-child ewfActionComponentAllStylesAllStates {
	border-bottom-style: none;
}
ewfUiMobileMenuTabContainer ewfUiCurrentTabActionControl {
	margin-top: 0;
	border-top-style: none;
	border-radius: 0;
	padding-left: 6vw;
	font-weight: normal;
	font-style: italic;
}
ewfUiTopErrorMessageListContainer {
	font-size: 1.4em;
}
ewfUiEntityAndTopTabContainer {
	display: flex;
	flex-flow: row wrap;
}
ewfUiEntityContainer, ewfUiTopTabListContainer {
	font-size: var( --ewf-small-font-size );
	font-weight: bold;
	letter-spacing: -.025em;
}
ewfUiEntityContainer {
	flex-grow: 1;
}
@media print {
	ewfUiEntityContainer {
		border-top: 1pt solid black;
		border-bottom: 1pt solid black;
	}
}
ewfUiEntityContainer > ewfPagePathContainer ewfUnorderedComponentList {
	display: inline-flex;
}
ewfUiEntityContainer > ewfPagePathContainer ewfComponentListItem {
	background-position: center right;
	background-size: var( --ewf-ui-page-path-separator-width );
	padding-right: var( --ewf-ui-page-path-separator-width );
}
ewfUiEntityNavAndActionContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ewfUiEntityActionListContainer, ewfUiPageActionListContainer {
	text-align: right;
}
ewfUiEntityActionListContainer > ewfUnorderedLineList, ewfUiPageActionListContainer > ewfUnorderedLineList {
	justify-content: flex-end;
}
ewfUiTopTabListContainer {
	display: flex;
	flex-grow: 10000;
	font-size: 1.1em;
}
ewfUiTopTabListContainer ewfUnorderedComponentList {
	gap: 1px;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	display: block;
	font-weight: 600;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	padding: 1vw;
	font-weight: normal;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesStatesWithHover {
	margin-top: -4px;
	border-top-width: 4px;
	border-top-style: solid;
}
ewfUiTopTabListContainer ewfUiCurrentTabActionControl {
	margin-top: -4px;
	border-top-width: 4px;
	border-top-style: solid;
	font-weight: bold;
}
ewfUiSideTabContainer {
	width: calc( var( --ewf-ui-side-tab-content-width ) + var( --ewf-ui-top-level-horizontal-spacing ) * 2 );
}
ewfUiSideTabGroupHead {
	font-size: .8em;
}
ewfUiSideTabGroupHead:not( :first-child ) {
	padding-top: .5rem;
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	font-size: var( --ewf-small-font-size );
	border-left-style: solid;
}
ewfUiPageActionListContainer {
	margin-bottom: 1em;
	margin-left: 1em;
}
ewfUiContentFootContainer {
	text-align: center;
}
ewfUiContentFootActionListContainer > ewfUnorderedWrappingList {
	justify-content: flex-end;
}
ewfUiPoweredByEwlFooterContainer {
	font-size: var( --ewf-small-font-size );
	text-align: center;
}
@media only screen and ( max-width: 1200px ) {
	ewfUiAppLogoContainer ewfImage {
		width: 150px;
		max-height: none;
	}
	ewfUiInnerGlobalContainer ewfActionComponentAllStylesAllStates {
		font-size: var( --ewf-ui-tablet-font-size );
	}
	ewfUiUserInfoContainer > p {
		font-size: var( --ewf-ui-tablet-font-size );
	}
	ewfUiEntityAndTopTabContainer {
		gap: 0;
	}
	ewfUiEntityContainer, ewfUiTopTabListContainer {
		width: 100%;
	}
	ewfUiEntityContainer {
		padding-top: .75vw;
		padding-bottom: .75vw;
	}
	ewfUiEntityContainer ewfPagePathContainer ewfComponentListItem {
		padding-right: 1.5vw;
	}
	ewfUiTopTabListContainer {
		padding: 0 1vw;
	}
	ewfUiSideTabGroupHead, ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
		font-size: var( --ewf-ui-tablet-font-size );
	}
}
@media only screen and ( max-width: 768px ) {
	ewfUiOuterGlobalContainer {
		padding: 0;
		height: 55px;
	}
	ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates, ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
		font-size: 16px;
		padding: 0;
		width: 100%;
		line-height: 50px;
	}
	ewfUiAppLogoContainer {
		flex: 1;
	}
	ewfUiAppLogoContainer ewfImage {
		margin: 0 4vw;
		width: auto;
		height: 30px;
	}
	ewfUiGlobalNavListContainer, ewfUiTopTabListContainer, ewfUiSideTabContainer {
		display: none;
	}
	ewfUiUserInfoContainer {
		order: 1;
		flex: 0 1 auto;
		width: 55px;
		height: 55px;
	}
	ewfUiUserInfoContainer > p {
		display: none;
		position: absolute;
		font-size: 16px;
		top: 55px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 50px;
		font-weight: bold;
		z-index: 0;
	}
	ewfUiUserInfoContainer:hover > p {
		display: block;
		z-index: 1000;
	}
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		display: block;
		position: absolute;
		top: 105px;
		left: 0;
		width: 100%;
		transform-origin: 0 0;
		transform: scaleY( 0 );
		text-align: left;
		z-index: 0;
	}
	ewfUiUserInfoContainer:hover > ewfUnorderedComponentList {
		transform: scaleY( 1 );
		z-index: 1000;
	}
	ewfUiUserInfoContainer ewfComponentListItem {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		text-align: center;
	}
	ewfUiUserInfoContainer ewfActionComponentAllStylesAllStates {
		font-size: 16px;
		padding: 3vw 0;
		width: 100%;
		text-decoration: none;
	}
	ewfUiMobileMenuContainer {
		display: revert;
	}
	ewfUiEntityAndTopTabContainer {
		gap: 0 0;
	}
	ewfUiEntityContainer {
		padding: 10px 4vw;
		gap: 0 15px;
	}
	ewfUiEntityContainer ewfPagePathContainer ewfComponentListItem {
		display: none;
		padding: 5px 0;
		padding-right: 20px;
	}
	ewfUiEntityContainer ewfPagePathContainer ewfComponentListItem:nth-last-child( -n + 3 ) {
		display: block;
	}
	ewfUiContentContainer {
		padding: 10px 4vw;
	}
	ewfUiContentContainer p {
		font-size: var( --ewf-small-font-size );
	}
}
@media print {
	ewfUiGlobalNavListContainer,
	ewfUiUserInfoContainer,
	ewfUiTopErrorMessageListContainer,
	ewfUiEntityNavAndActionContainer,
	ewfUiSideTabContainer,
	ewfUiPageActionListContainer,
	ewfUiContentFootContainer {
		display: none;
	}
}

/* log-in page */
.ewfLogInPasswordContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: .5em 1.5em;
}
.ewfLogInPasswordContainer > div > span {
	margin-right: .5em;
}