/*******************/
/* BREADCRUMBS     
/*******************/
.breadcrumbHome {
  width: 1vw;
  opacity: .5;
  transition: opacity .2s;
}

  .breadcrumbHome:hover {
    opacity: 1;
  }

/*******************/
/* FILTER/INPUT    
/*******************/
.ewfFilB {
  align-self: end;
}

div.ewfFil.ewfGfil button {
  width: 100%;
  height: 35px;
  align-self: flex-end;
  font-size: var(--default-small-font-size);
  padding: 0px !important;
  background-color: var(--secondary-color) !important;
  transition: all .2s;
}

  div.ewfFil.ewfGfil button:hover {
    background-color: var(--hover-color) !important;
  }

/*******************/
/* TABLE   
/*******************/
table.ewfStandard {
  background-color: var(--white-color);
  background-image: none;
  padding: 0;
  box-shadow: var(--default-box-shadow);
  font-size: var(--default-font-size);
}

  table.ewfStandard, table.ewfTblSel, table.ewfStandard > tbody > tr:not(.ewfAc).ewfContrast, table.ewfStandard > tbody > tr.ewfAc:not(:hover).ewfContrast, table.ewfStandard > tbody > tr.ewfAc:hover.ewfContrast, table.ewfTblSel > tbody > tr:not(.ewfAc).ewfContrast, table.ewfTblSel > tbody > tr.ewfAc:not(:hover).ewfContrast, table.ewfTblSel > tbody > tr.ewfAc:hover.ewfContrast, div.ewfCheckboxList {
    background-image: none;
  }

.ewfContrast {
  background-color: #fafafa;
}

table.ewfStandard thead .ewfTc {
  padding: .75vw 1.5vw !important;
  border-bottom: dotted 1px rgba(0,0,0,.1);
}

table.ewfStandard tbody .ewfTc {
  padding: 1vw 1.5vw !important;
  color: var(--gray-color);
}

div.ewfTblIlga {
  padding-bottom: 0;
}

div.ewfTblIl {
  margin-left: auto;
  color: var(--gray-color) !important;
}

button.ewfActionNormalButton.ewfAction {
  background-color: var(--secondary-color) !important;
  padding: var(--button-padding) !important;
  transition: all .2s;
}

  button.ewfActionNormalButton.ewfAction:hover {
    background-color: var(--hover-color) !important;
  }
/*******************/
/* DATATABLE   
/*******************/
.dataTables_wrapper {
  margin: 2vw 0;
  padding: var(--ewf-ui-top-level-spacing);
  background-color: var(--white-color);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
}

table.responsiveDataTable {
  padding: 1vw 0;
  width: 100% !important; /*This shouldn't have to be here. Should be able to get rid of important for sure. Also if we eliminate this, table.dataTable takes over which is already 100%, so...*/
}

table.responsiveDataTable tbody {
    color: var(--gray-color);
  }

table.responsiveDataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px 3px;
  }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: var(--gray-color) !important;
  font-size: var(--default-small-font-size);
}

  .dataTables_wrapper .dataTables_length select {
    color: var(--gray-color);
    border-color: var(--default-form-color) !important;
    margin: 0 5px;
  }

  .dataTables_wrapper .dataTables_filter input {
    margin-left: 5px !important;
    width: 35vw;
    border-color: var(--default-form-color) !important;
    max-width: 300px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled,.current):hover {
    background: var(--hover-color) !important;
    border-color: transparent;
  }

/* TABLET */
@media only screen and (max-width: 1200px) {
  .breadcrumbHome {
    width: 1.5vw;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .breadcrumbHome {
    width: 4vw;
  }
}
