:root {
  --default-border-radius: .5em;
  --default-form-color: #ccc;
}

/*******************/
/* BREADCRUMBS     
/*******************/
.breadcrumbHome {
  width: 1vw;
  opacity: .5;
  transition: opacity .2s;
}

.breadcrumbHome:hover {
  opacity: 1;
}


/* TABLET */
@media only screen and (max-width: 1200px) {
  .breadcrumbHome {
    width: 1.5vw;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .breadcrumbHome {
    width: 4vw;
  }
}