/*******************/
/* RESET CSS 
/*******************/
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
}

ewfUiInnerGlobalContainer, ewfUiEntityAndTabAndContentBlock, ewfUiGlobalFootContainer {
	max-width: none;
  margin: 0;
}

/*******************/
/* MAIN SIDEBAR    
/*******************/
.ewfUiSideTab {
  grid-area: sidebar;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 16vw;
}

div.ewfUiSideTab a.ewfAction.ewfActionText {
  font-size: var(--default-font-size) !important;
  padding: var(--default-padding) !important;
  border-left: solid 4px var(--primary-color) !important;
  transition: all .2s;
}

div.ewfUiSideTab a.ewfEditorSelectedTab.ewfAction.ewfActionText {
  color: var(--hover-color) !important;
  border-color: var(--hover-color) !important;
  background-color: rgba(255,255,255,.1);
}

div.ewfUiSideTab a.ewfAction.ewfActionText:hover:not(.ewfEditorSelectedTab) {
  color: var(--white-color) !important;
  border-color: var(--hover-color) !important;
  background-color: rgba(255,255,255,.2);
}

.ewfEditorTabSeparator {
  font-size: var(--default-font-size) !important;
  padding: var(--default-padding) !important;
  padding-left: 1.5vw !important;
  color: rgba(255,255,255,.5);
}

/*******************/
/* BREADCRUMBS     
/*******************/
.breadcrumbHome {
  width: 1vw;
  opacity: .5;
  transition: opacity .2s;
}

  .breadcrumbHome:hover {
    opacity: 1;
  }

/*******************/
/* FILTER/INPUT    
/*******************/
div.ewfFil.ewfGfil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 1vw;
}

  div.ewfFil.ewfGfil label {
    font-size: var(--default-small-font-size);
    color: var(--gray-color);
  }

  div.ewfFil.ewfGfil input[type=text], div.ewfFil.ewfGfil select {
    font-size: var(--default-small-font-size);
    color: var(--gray-color);
    border-color: var(--default-form-color) !important;
  }

  div.ewfFil.ewfGfil select {
    box-shadow: none;
  }

  div.ewfFil.ewfGfil input::placeholder {
    color: rgb(175, 175, 175);
  }

.chosen-container-single .chosen-single span {
  font-size: var(--default-small-font-size);
}

.chosen-container-single .chosen-single.chosen-default {
  height: 35px;
  line-height: 35px;
  color: rgb(175, 175, 175);
  border-color: var(--default-form-color);
}

.chosen-single, .chosen-single span {
  line-height: 35px !important;
  height: 35px !important;
  border-color: var(--default-form-color) !important;
}

.ewfFilB {
  align-self: end;
}

div.ewfFil.ewfGfil button {
  width: 100%;
  height: 35px;
  align-self: flex-end;
  font-size: var(--default-small-font-size);
  padding: 0px !important;
  background-color: var(--secondary-color) !important;
  transition: all .2s;
}

  div.ewfFil.ewfGfil button:hover {
    background-color: var(--hover-color) !important;
  }

.chosen-container .chosen-results {
  max-height: 50vh;
}

  .chosen-container .chosen-results li.active-result.result-selected {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }

  .chosen-container .chosen-results li.active-result.highlighted {
    background-color: var(--hover-color);
    background-image: none;
    color: var(--white-color);
  }
/*******************/
/* TABLE   
/*******************/
table.ewfStandard {
  background-color: var(--white-color);
  background-image: none;
  padding: 0;
  box-shadow: var(--default-box-shadow);
  font-size: var(--default-font-size);
}

  table.ewfStandard, table.ewfTblSel, table.ewfStandard > tbody > tr:not(.ewfAc).ewfContrast, table.ewfStandard > tbody > tr.ewfAc:not(:hover).ewfContrast, table.ewfStandard > tbody > tr.ewfAc:hover.ewfContrast, table.ewfTblSel > tbody > tr:not(.ewfAc).ewfContrast, table.ewfTblSel > tbody > tr.ewfAc:not(:hover).ewfContrast, table.ewfTblSel > tbody > tr.ewfAc:hover.ewfContrast, div.ewfCheckboxList {
    background-image: none;
  }

.ewfContrast {
  background-color: #fafafa;
}

table.ewfStandard thead .ewfTc {
  padding: .75vw 1.5vw !important;
  border-bottom: dotted 1px rgba(0,0,0,.1);
}

table.ewfStandard tbody .ewfTc {
  padding: 1vw 1.5vw !important;
  color: var(--gray-color);
}

div.ewfTblIlga {
  padding-bottom: 0;
}

div.ewfTblIl {
  margin-left: auto;
  color: var(--gray-color) !important;
}

button.ewfActionNormalButton.ewfAction {
  background-color: var(--secondary-color) !important;
  padding: var(--button-padding) !important;
  transition: all .2s;
}

  button.ewfActionNormalButton.ewfAction:hover {
    background-color: var(--hover-color) !important;
  }
/*******************/
/* DATATABLE   
/*******************/
.dataTables_wrapper {
  margin: 2vw 0;
  padding: var(--default-padding);
  background-color: var(--white-color);
  box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
}

table.responsiveDataTable {
  padding: 1vw 0;
  width: 100% !important; /*This shouldn't have to be here. Should be able to get rid of important for sure. Also if we eliminate this, table.dataTable takes over which is already 100%, so...*/
}

table.responsiveDataTable tbody {
    color: var(--gray-color);
  }

table.responsiveDataTable.compact thead th, table.dataTable.compact thead td {
    padding: 4px 3px;
  }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: var(--gray-color) !important;
  font-size: var(--default-small-font-size);
}

  .dataTables_wrapper .dataTables_length select {
    color: var(--gray-color);
    border-color: var(--default-form-color) !important;
    margin: 0 5px;
  }

  .dataTables_wrapper .dataTables_filter input {
    margin-left: 5px !important;
    width: 35vw;
    border-color: var(--default-form-color) !important;
    max-width: 300px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled,.current):hover {
    background: var(--hover-color) !important;
    border-color: transparent;
  }

/* TABLET */
@media only screen and (max-width: 1200px) {
  .breadcrumbHome {
    width: 1.5vw;
  }

  div.ewfUiSideTab a.ewfAction.ewfActionText, .ewfEditorTabSeparator {
    font-size: var(--tablet-font-size) !important;
  }
}

/* MOBILE */
@media only screen and (max-width: 768px) {
  .ewfUiSideTab {
    position: absolute;
    top: 105px;
    left: 0px;
    display: block;
    width: 100%;
    background-color: var(--secondary-color);
    border: none;
    padding: 0px;
    box-shadow: 0px 10px 10px rgba(0,0,0,.25);
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform ease-in-out .0s;
    z-index: 0;
  }

    .ewfUiSideTab.hover-active {
      transform: scaleY(1);
      z-index: 1000;
      transition: transform ease-in-out .2s;
    }

  div.ewfUiSideTab a.ewfAction.ewfActionText {
    padding: 3vw 4vw !important;
    color: var(--white-color) !important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-align: center !important;
    border-left: none !important;
    border-bottom: solid 1px rgba(255,255,255,.3) !important;
    display: block !important;
  }

  div.ewfUiSideTab a.ewfEditorSelectedTab.ewfAction.ewfActionText {
    color: var(--white-color) !important;
    background-color: rgba(255,255,255,.3);
    font-style: italic;
    border-bottom: solid 1px rgba(255,255,255,.3) !important;
  }

  div.ewfUiSideTab a.ewfAction.ewfActionText:hover:not(.ewfEditorSelectedTab) {
    background-color: var(--hover-color);
  }

  .ewfEditorTabSeparator {
    padding: 3vw 4vw !important;
    color: var(--white-color) !important;
    background-color: var(--gray-color);
    font-size: 16px !important;
    font-weight: normal !important;
    text-align: center !important;
    border-left: none !important;
    display: block !important;
  }

  .breadcrumbHome {
    width: 4vw;
  }

  div.ewfFil.ewfGfil {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
