ewfActionComponentAllButtonStylesAllStates {
	transition: all 200ms;
}

ewfFlowCheckboxAllStates > ewfCheckbox {
	transition: background-color 200ms, color 100ms;
}

ewfUiInnerGlobalContainer ewfActionComponentAllStylesAllStates {
	transition: color 200ms;
}
@media only screen and ( max-width: 768px ) {
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		transition: transform ease-in-out 0;
	}
	ewfUiUserInfoContainer:hover > ewfUnorderedComponentList {
		transition: transform ease-in-out 200ms;
	}
}
ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesAllStates {
	transition: all 200ms;
}
ewfUiEntityContainer ewfPagePathContainer ewfActionComponentAllStylesAllStates {
	transition: color 200ms;
}
ewfUiTopTabListContainer ewfActionComponentAllStylesAllStates {
	transition: background-color 200ms, color 200ms;
}
ewfUiSideTabContainer ewfActionComponentAllStylesAllStates {
	transition: background-color 200ms;
}