ewfFlowCheckboxAllStates > ewfCheckbox {
	transition: background-color 200ms, color 100ms;
}

@media only screen and ( max-width: 768px ) {
	ewfUiUserInfoContainer > ewfUnorderedComponentList {
		transition: transform ease-in-out 0;
	}
	ewfUiUserInfoContainer:hover > ewfUnorderedComponentList {
		transition: transform ease-in-out 200ms;
	}
}
ewfUiUserInfoContainer > ewfUnorderedComponentList ewfActionComponentAllStylesAllStates {
	transition: all 200ms;
}