/* Always show vertical scroll bar to avoid the screen shifting when flipping between long and short pages. */
html {
	overflow-y: scroll;
}

/* lists */
ewfStandardControlStack > ewfControlStackItem {
	margin-top: 4px;
}
ewfStandardControlStack > ewfControlStackItem:first-child {
	margin-top: 0;
}
ewfControlLine {
	display: inline-block;
	vertical-align: top; /* We need any value except baseline to prevent extra vertical spacing. */
}
ewfControlLine > ewfControlLineItem {
	padding-left: 8px;
}
ewfControlLine > ewfControlLineItem:first-child {
	padding-left: 0;
}
div.ewfControlList > div > table {
	width: 100%;
	table-layout: fixed;
}

/* tables */
table {
	border-width: 0;
	padding: 0;
	border-spacing: 0;
}
ewfTableStandardAndStandardLayoutOnlyStyles {
	width: 100%;
	table-layout: fixed;
	clear: both;
}
th {
	padding: 0;
	text-align: left;
}
td {
	padding: 0;
}
th.ewfTcTop, td.ewfTcTop {
	vertical-align: top;
}
th.ewfTcMiddle, td.ewfTcMiddle {
	vertical-align: middle;
}
th.ewfTcBottom, td.ewfTcBottom {
	vertical-align: bottom;
}
th.ewfTcBaseLine, td.ewfTcBaseLine {
	vertical-align: baseline;
}
.ewfOverflowedCell {
	overflow: hidden;
}

/* images */
img {
	border-width: 0; /* Remove default borders around images when they are inside anchor tags. */
}
img.ewfAutoSizer {
	display: block;
	width: 100%;
}

/* Text boxes. If we change the border or padding below, we also need to change the Width property on EwfTextBox. */
div.textBoxWrapper {
	border-color: #8E8E8E #B8B8B8 #B8B8B8 #8E8E8E;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	background-color: White;
}
div.textBoxWrapper:hover {
	border-color: #515151;
}
div.textBoxWrapperFocused {
	border-color: #515151;
}
div.textBoxWrapper > input[type="text"], div.textBoxWrapper > input[type="password"] {
	height: 22px;
}
div.textBoxWrapper > input[type="text"], div.textBoxWrapper > input[type="password"], div.textBoxWrapper > textarea {
	display: block;
	margin: 0;
	border-width: 0;
	padding: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}
/* This prevents Chrome and Safari from allowing the user to resize textareas. */
textarea {
	resize: none;
}

/* drop-down lists */
ewfControlStackItem > ewfDropDownList, ewfTableStandardAndStandardLayoutOnlyStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd > ewfDropDownList {
	width: 100%;
}

/* check boxes */
ewfInlineCheckBox > ewfInlineCheckBoxBox, ewfInlineCheckBox > ewfInlineCheckBoxLabel {
	vertical-align: middle;
}
table.ewfBlockCheckBox {
	width: 100%;
}
table.ewfBlockCheckBox > tbody > tr > td {
	padding-top: 4px;
}
table.ewfBlockCheckBox > tbody > tr:first-child > td {
	padding-top: 0;
}
table.ewfBlockCheckBox > tbody > tr > td:first-child {
	font-size: 0;
	line-height: 0;
}
table.ewfBlockCheckBox > tbody > tr > td:first-child input {
	margin-top: 0;
	margin-bottom: 0;
}

/* date pickers, time pickers, and date and time pickers */
ewfDatePicker, ewfTimePicker {
	max-width: 10em;
}
ewfDateAndTimePicker {
	max-width: 15em;
}
.icon-calendar {
	font-size: 1.4em;
}

/* action controls */
button {
	font: inherit;
}
a.ewfBlockContainer, span.ewfBlockContainer {
	display: inline-block;
}
ewfActionControlAllStylesAllStates {
	margin: 0;
	border-style: none;
	background-color: Transparent;
	padding: 0;
}
ewfActionControlAllStylesAllStates::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox {
	display: block;
	background-repeat: repeat-x;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox > img.left {
	float: left;
	margin-right: 4px;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox > img.right {
	float: right;
	margin-left: 4px;
}
ewfActionControlAllButtonStylesAllStates {
	display: inline-block;
	text-decoration: none; /*-moz-box-shadow: 2px 2px 2px Black;*/
	background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: transparent -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 51%); /* FF3.6+ */
	background: transparent -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.6)), color-stop(50%,rgba(255,255,255,0.15)), color-stop(51%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
	background: transparent -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.01) 51%); /* Chrome10+,Safari5.1+ */
	background: transparent -o-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.01) 51%); /* Opera 11.10+ */
	background: transparent -ms-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.01) 51%); /* IE10+ */
	background: transparent linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.01) 51%); /* W3C */
	background-color: #7C13B8;
	color: white;
}
ewfActionControlShrinkWrapButtonStyleAllStates {
	padding: .01em .2em .01em .2em;
	border-radius: .2em;
}
ewfActionControlNormalButtonStyleAllStates {
	padding: .4em;
	border-radius: .3em;
}
ewfActionControlLargeButtonStyleAllStates {
	padding: 1em;
	font-size: 1.4em;
	border-radius: .3em;
}
ewfActionControlAllButtonStylesStatesWithHoverAndWithoutActive {
	background-color: black;
}
ewfActionControlAllButtonStylesStatesWithFocusAndWithoutHover {
	background-color: gray;
}

/* Text alignment. NOTE: The classes ewfCurrencyCell, ewfRightAlignCell, and ewfCenterCell are deprecated. Eliminate them from all systems and then remove them from these rules. */
.ewfTaL {
	text-align: left;
}
.ewfTaR, .ewfCurrencyCell, .ewfCurrencyCell input[type="text"], .ewfRightAlignCell, .ewfRightAlignCell input[type="text"] {
	text-align: right;
}
.ewfTaC, .ewfCenterCell {
	text-align: center;
}
.ewfTaJ {
	text-align: justify;
}

/* bold */
.ewfBold {
	font-weight: bold;
}

/* error messages */
ewfErrorMessageControlListBlock {
	font-weight: bold;
	color: red;
}

/* cursors */
ewfActionControlAllStylesAllActionStates, .ewfClickable {
	cursor: pointer;
}
ewfActionControlAllStylesActionlessState, .ewfNotClickable {
	cursor: default;
}

/* EwfPage and master page */
div.ewfNonLiveWarning {
	margin-bottom: 4px;
	border: solid #464646 1px;
	background-color: Red;
	padding: 4px;
	text-align: center;
	color: White;
	font-size: 1.2em;
	font-weight: bold;
}
ewfClickBlockingBlock {
	z-index: 10000;
}
ewfProcessingDialogBlock, ewfStatusMessageDialogBlock {
	z-index: 10001;
}
ewfClickBlockingBlock, ewfProcessingDialogBlock {
	display: none;
}
ewfClickBlockingBlock {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: Gray;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
ewfProcessingDialogBlock {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -5em;
	margin-left: -13em;
	border: 1px solid black;
	background-color: #cccccc;
	padding: 1em;
	height: 8em;
	width: 26em;
	color: black;
}
ewfProcessingDialogParagraph {
	text-align: center;
}
ewfStatusMessageDialogBlock {
	position: fixed;
	top: 30%;
	left: 50%;
	font-size: 1.5em;
	margin-left: -15.1em;
	border: .1em solid black;
	background-color: white;
	padding: 1em;
	width: 28em;
}
ewfStatusMessageDialogControlListInfoItem {
	color: black;
}
ewfStatusMessageDialogControlListWarningItem {
	font-weight: bold;
	color: orange;
}
.profiler-results {
	opacity: .4;
}
.profiler-results:hover {
	opacity: 1;
}
