/* Always show vertical scroll bar to avoid the screen shifting when flipping between long and short pages. */
html {
	overflow-y: scroll;
}

/* lists */
ewfStandardControlStack > ewfControlStackItem {
	margin-top: 4px;
}
ewfStandardControlStack > ewfControlStackItem:first-child {
	margin-top: 0;
}
ewfControlLine {
	display: inline-block;
	vertical-align: top; /* We need any value except baseline to prevent extra vertical spacing. */
}
ewfControlLine > ewfControlLineItem {
	padding-left: 8px;
}
ewfControlLine > ewfControlLineItem:first-child {
	padding-left: 0;
}
div.ewfControlList > div > table {
	width: 100%;
	table-layout: fixed;
}

/* sections */
ewfSectionAllStylesBothStates {
	clear: both;
}
ewfSectionAllStylesBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel, ewfSectionAllStylesBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	float: right;
}
ewfSectionAllStylesClosedState > ewfSectionHeadingContainer > ewfSectionCloseLabel, ewfSectionAllStylesExpandedState > ewfSectionHeadingContainer > ewfSectionExpandLabel {
	display: none;
}
ewfSectionAllStylesClosedState > ewfSectionContentContainer {
	display: none;
}

/* tables */
table {
	border-width: 0;
	padding: 0;
	border-spacing: 0;
}
ewfTableStandardAndStandardLayoutOnlyStyles {
	width: 100%;
	table-layout: fixed;
	clear: both;
}
th {
	padding: 0;
	text-align: left;
}
td {
	padding: 0;
}
th.ewfTcTop, td.ewfTcTop {
	vertical-align: top;
}
th.ewfTcMiddle, td.ewfTcMiddle {
	vertical-align: middle;
}
th.ewfTcBottom, td.ewfTcBottom {
	vertical-align: bottom;
}
th.ewfTcBaseLine, td.ewfTcBaseLine {
	vertical-align: baseline;
}
.ewfOverflowedCell {
	overflow: hidden;
}

/* images */
img {
	border-width: 0; /* Remove default borders around images when they are inside anchor tags. */
}
img.ewfAutoSizer {
	display: block;
	width: 100%;
}

/* Text boxes. If we change the border or padding below, we also need to change the Width property on EwfTextBox. */
div.textBoxWrapper {
	border-color: #8E8E8E #B8B8B8 #B8B8B8 #8E8E8E;
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	background-color: White;
}
div.textBoxWrapper:hover {
	border-color: #515151;
}
div.textBoxWrapperFocused {
	border-color: #515151;
}
div.textBoxWrapper > input[type="text"], div.textBoxWrapper > input[type="password"] {
	height: 22px;
}
div.textBoxWrapper > input[type="text"], div.textBoxWrapper > input[type="password"], div.textBoxWrapper > textarea {
	display: block;
	margin: 0;
	border-width: 0;
	padding: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
}
/* This prevents Chrome and Safari from allowing the user to resize textareas. */
textarea {
	resize: none;
}

/* drop-down lists */
ewfControlStackItem > ewfDropDownList, ewfTableStandardAndStandardLayoutOnlyStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd > ewfDropDownList {
	width: 100%;
}

/* check boxes */
ewfInlineCheckBox > ewfInlineCheckBoxBox, ewfInlineCheckBox > ewfInlineCheckBoxLabel {
	vertical-align: middle;
}
table.ewfBlockCheckBox {
	width: 100%;
}
table.ewfBlockCheckBox > tbody > tr > td {
	padding-top: 4px;
}
table.ewfBlockCheckBox > tbody > tr:first-child > td {
	padding-top: 0;
}
table.ewfBlockCheckBox > tbody > tr > td:first-child {
	font-size: 0;
	line-height: 0;
}
table.ewfBlockCheckBox > tbody > tr > td:first-child input {
	margin-top: 0;
	margin-bottom: 0;
}

/* date pickers, time pickers, and date and time pickers */
ewfDatePicker, ewfTimePicker {
	max-width: 10em;
}
ewfDateAndTimePicker {
	max-width: 15em;
}
.datepickerIcon, .timepickerIcon {
	font-size: 1.4em;
}
.datetimepickerIcon {
	font-size: .8em;
}

/* action controls */
button {
	font: inherit;
}
a.ewfBlockContainer, span.ewfBlockContainer {
	display: inline-block;
}
ewfActionControlAllStylesAllStates {
	margin: 0;
	border-style: none;
	background-color: Transparent;
	padding: 0;
}
ewfActionControlAllStylesAllStates::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox {
	display: block;
	background-repeat: repeat-x;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox > img.left {
	float: left;
	margin-right: 4px;
}
ewfActionControlBoxStyleAllStates > ewfActionControlBoxStyleSideAndBackgroundImageBox > img.right {
	float: right;
	margin-left: 4px;
}
ewfActionControlAllButtonStylesAllStates {
	display: inline-block;
	text-decoration: none; /*-moz-box-shadow: 2px 2px 2px Black;*/
	background: transparent url( data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg== );
	background: transparent -moz-linear-gradient( top, rgba( 255, 255, 255, 0.6 ) 0%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.01 ) 51% ); /* FF3.6+ */
	background: transparent -webkit-gradient( linear, left top, left bottom, color-stop( 0%, rgba( 255, 255, 255, 0.6 ) ), color-stop( 50%, rgba( 255, 255, 255, 0.15 ) ), color-stop( 51%, rgba( 255, 255, 255, 0.01 ) ) ); /* Chrome,Safari4+ */
	background: transparent -webkit-linear-gradient( top, rgba( 255, 255, 255, 0.6 ) 0%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.01 ) 51% ); /* Chrome10+,Safari5.1+ */
	background: transparent -o-linear-gradient( top, rgba( 255, 255, 255, 0.6 ) 0%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.01 ) 51% ); /* Opera 11.10+ */
	background: transparent -ms-linear-gradient( top, rgba( 255, 255, 255, 0.6 ) 0%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.01 ) 51% ); /* IE10+ */
	background: transparent linear-gradient( to bottom, rgba( 255, 255, 255, 0.6 ) 0%, rgba( 255, 255, 255, 0.15 ) 50%, rgba( 255, 255, 255, 0.01 ) 51% ); /* W3C */
	background-color: #7C13B8;
	color: white;
}
ewfActionControlShrinkWrapButtonStyleAllStates {
	padding: .01em .2em .01em .2em;
	border-radius: .2em;
}
ewfActionControlNormalButtonStyleAllStates {
	padding: .4em;
	border-radius: .3em;
}
ewfActionControlLargeButtonStyleAllStates {
	padding: 1em;
	font-size: 1.4em;
	border-radius: .3em;
}
ewfActionControlAllButtonStylesStatesWithHoverAndWithoutActive {
	background-color: black;
}
ewfActionControlAllButtonStylesStatesWithFocusAndWithoutHover {
	background-color: gray;
}

/* Text alignment. NOTE: The classes ewfCurrencyCell, ewfRightAlignCell, and ewfCenterCell are deprecated. Eliminate them from all systems and then remove them from these rules. */
.ewfTaL {
	text-align: left;
}
.ewfTaR, .ewfCurrencyCell, .ewfCurrencyCell input[type="text"], .ewfRightAlignCell, .ewfRightAlignCell input[type="text"] {
	text-align: right;
}
.ewfTaC, .ewfCenterCell {
	text-align: center;
}
.ewfTaJ {
	text-align: justify;
}

/* bold */
.ewfBold {
	font-weight: bold;
}

/* error messages */
ewfErrorMessageControlListBlock {
	font-weight: bold;
	color: red;
}

/* cursors */
ewfActionControlAllStylesAllActionStates, .ewfClickable {
	cursor: pointer;
}
ewfActionControlAllStylesActionlessState, .ewfNotClickable {
	cursor: default;
}

/* EwfPage and master page */
ewfTopWarningBlock {
	z-index: 9998;
}
ewfNotificationSectionContainerBothStates {
	z-index: 9999;
}
ewfClickBlockerBothStates {
	z-index: 10000;
}
ewfProcessingDialogBlockAllStates {
	z-index: 10001;
}
ewfTopWarningBlock {
	position: relative;
	font-size: 1rem;
	margin-bottom: .5em;
	border: 1px solid #464646;
	border-radius: .5em;
	background-color: hsla( 0, 100%, 50%, 0.75 );
	padding: .5em;
	text-align: center;
	color: white;
	font-weight: bold;
}
ewfClickBlockerBothStates {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: gray;
}
ewfClickBlockerInactiveState {
	visibility: hidden;
	opacity: 0;
	transition: visibility 400ms, opacity 400ms;
}
ewfClickBlockerActiveState {
	opacity: 0.3;
	transition: opacity 400ms;
}
ewfProcessingDialogBlockAllStates {
	position: fixed;
	font-size: .8rem;
	top: 50%;
	left: 50%;
	margin-top: -4rem;
	margin-left: -9rem;
	box-shadow: 0 0 15px black;
	border-radius: 15px;
	background-color: white;
	padding: 0 .5rem;
	width: 17rem;
	text-align: center;
	color: black;
}
ewfProcessingDialogBlockInactiveState, ewfProcessingDialogBlockActiveState {
	height: 4rem;
}
ewfProcessingDialogBlockInactiveState {
	visibility: hidden;
	opacity: 0;
	transition: height 0 400ms, visibility 400ms, opacity 400ms;
}
ewfProcessingDialogBlockActiveState {
	transition: opacity 400ms;
}
ewfProcessingDialogBlockTimeOutState {
	height: 8rem;
	transition: height 200ms;
}
ewfProcessingDialogProcessingParagraph {
	font-size: 2em;
	display: flex;
	margin: 0;
	height: 4rem;
	justify-content: center;
	align-items: center;
	cursor: default;
}
#ewfEllipsis1, #ewfEllipsis2, #ewfEllipsis3 {
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#ewfEllipsis1 {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}
#ewfEllipsis2 {
	-webkit-animation-delay: 200ms;
	animation-delay: 200ms;
}
#ewfEllipsis3 {
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}
ewfProcessingDialogTimeOutParagraphBothStates {
	display: flex;
	margin: 0;
	height: 4rem;
	justify-content: center;
	align-items: center;
}
ewfProcessingDialogTimeOutParagraphInactiveState {
	visibility: hidden;
	transition: visibility 400ms;
}
ewfProcessingDialogTimeOutParagraphActiveState {
	transition: visibility 0 200ms;
}
ewfNotificationSectionContainerBothStates {
	position: fixed;
	font-size: 1rem;
	top: 0;
	left: 50%;
	width: 80%;
	min-width: 10rem;
	max-width: 40rem;
}
ewfNotificationSectionContainerNotificationState {
	-webkit-transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
	transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
}
ewfNotificationSectionContainerDockedState {
	-webkit-transform: translateX( -50% );
	transform: translateX( -50% );
	-webkit-animation-name: notificationSectionPosition;
	animation-name: notificationSectionPosition;
}
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates {
	border-style: solid;
	background-color: white;
}
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleBothStates {
	font-size: 1.2em;
	box-shadow: 0 0 15px black;
	border-width: .1em;
	border-radius: 1em;
	padding: 2em;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates {
	font-size: 1rem;
	border-width: .1rem;
	border-top-width: 0;
	border-radius: 0 0 .5em .5em;
	padding: .2rem 1em;
	transition-property: font-size, box-shadow, border-width, border-radius, padding;
}
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	height: 0;
	visibility: hidden;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	-webkit-animation-name: notificationSectionDisplay;
	animation-name: notificationSectionDisplay;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin-top: -.2rem;
	margin-left: -1em;
	margin-right: -1em;
	padding: .2rem 1em;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading {
	margin-bottom: -.2rem;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer > ewfSectionHeading {
	margin-bottom: .2rem;
}
/* As of 31 Jan 2015, "overflow: hidden" causes premature line wrapping in Chrome and Firefox when the container is in the notification state. */
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates > ewfSectionContentContainer {
	display: block;
	overflow: hidden;
}
/* Using max-height in these two rules is a hack. We'd like to remove the first rule and use height in the second, but height doesn't transition properly when
	"auto" is involved. */
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	max-height: 100em;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	max-height: 0;
	transition-property: max-height;
}
ewfNotificationSpacer {
	height: 1.7rem;
}
ewfInfoMessageContainer > ewfIcon {
	color: rgb( 120, 160, 195 );
}
ewfWarningMessageContainer > ewfIcon {
	color: #E69017;
}
ewfWarningMessageContainer > ewfStatusMessageText {
	font-weight: bold;
}
ewfNotificationSectionContainerDockedState, ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}
@keyframes notificationSectionPosition {
	0% {
		transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX( -50% ) translateY( -50vh ) translateY( -50% );
	}
	75% {
		transform: translateX( -50% ) translateY( -1.7em );
		animation-timing-function: ease-out;
	}
}
@-webkit-keyframes notificationSectionPosition {
	0% {
		-webkit-transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
		transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform: translateX( -50% ) translateY( -50vh ) translateY( -50% );
		transform: translateX( -50% ) translateY( -50vh ) translateY( -50% );
	}
	75% {
		-webkit-transform: translateX( -50% ) translateY( -1.7em );
		transform: translateX( -50% ) translateY( -1.7em );
		-webkit-animation-timing-function: ease-out;
	}
}
/* As of 31 Jan 2015, Firefox and IE didn't animate correctly without max-height. */
@keyframes notificationSectionDisplay {
	0% {
		height: 0;
		max-height: 0;
		visibility: hidden;
	}
	50% {
		height: 0;
		max-height: 0;
		visibility: hidden;
	}
	50.1% {
		height: auto;
		max-height: 100em;
		visibility: visible;
	}
	100% {
		max-height: 100em;
	}
}
@-webkit-keyframes notificationSectionDisplay {
	0% {
		height: 0;
		visibility: hidden;
	}
	50% {
		height: 0;
		visibility: hidden;
	}
	50.1% {
		height: auto;
		visibility: visible;
	}
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates, ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	transition-delay: 400ms;
}
.profiler-results {
	opacity: .4;
}
.profiler-results:hover {
	opacity: 1;
}

/* SelectUser and error pages */
ewfSelectUserPageBody, ewfErrorPageBody {
	margin-left: auto;
	margin-right: auto;
	max-width: 60em;
}

/* fonts */
ewfTopWarningBlock, ewfProcessingDialogBlockAllStates, ewfNotificationSectionContainerBothStates, ewfSelectUserPageBody, ewfErrorPageBody {
	font-family: 'Open Sans', sans-serif;
}
ewfSelectUserPageBody h1, ewfErrorPageBody h1 {
	font-family: 'Droid Serif', serif;
}