/* Always show vertical scroll bar to avoid the screen shifting when flipping between long and short pages. */
html {
	overflow-y: scroll;
}

/* section spacing and heading sizes */
ewfSectionNormalStyleBothStates {
	margin-top: 2em;
	margin-bottom: 2em;
}
ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 1em;
	font-weight: 600;
}
ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates {
	margin-top: 1em;
	margin-bottom: 1em;
}
ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1.1em;
	margin-bottom: .5em;
}
ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates {
	margin-top: 1em;
	margin-bottom: 1em;
}
ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin-bottom: .5em;
}
ewfSectionNormalStyleBothStates:first-child, ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:first-child, ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:first-child {
	margin-top: 0;
}
ewfSectionNormalStyleBothStates:last-child, ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:last-child, ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:last-child {
	margin-bottom: 0;
}


/* other spacing */

/* top */
ewfSectionBoxStyleBothStates,
p,
ewfUnorderedLineList,
ewfUnorderedStackList,
ewfHtmlBlock ul,
ewfFormItemList,
ewfFormItem,
ewfFlowCheckboxAllStates > ewfFlowCheckboxNestedContentContainer,
ewfTableStandardAndStandardLayoutOnlyStyles,
ewfCheckboxList,
ewfHtmlBlockEditor,
div.ewfStandardFileCollectionManager,
ewfMergeFieldTreeContainer,
ewfMergeRowTreeContainer,
ewfMergeRowTreeChildContainer,
ewfChart,
ewfHtmlBlock {
	margin-top: 1em;
}
ewfSectionBoxStyleBothStates:first-child,
p:first-child,
ewfUnorderedLineList:first-child,
ewfUnorderedStackList:first-child,
ewfHtmlBlock ul:first-child,
ewfFormItemList:first-child,
ewfFormItem:first-child,
ewfTableStandardAndStandardLayoutOnlyStyles:first-child,
ewfCheckboxList:first-child,
ewfHtmlBlockEditor:first-child,
div.ewfStandardFileCollectionManager:first-child,
ewfMergeFieldTreeContainer:first-child,
ewfMergeRowTreeContainer:first-child,
ewfMergeRowTreeChildContainer:first-child,
ewfChart:first-child,
ewfHtmlBlock:first-child {
	margin-top: 0;
}
ewfUnorderedWrappingList {
	margin-top: calc( 1em - .25em );
}
ewfUnorderedWrappingList:first-child {
	margin-top: calc( 0em - .25em );
}
ewfWrappingFormItemList {
	margin-top: calc( 1em - .5em );
}
ewfWrappingFormItemList:first-child {
	margin-top: calc( 0em - .5em );
}

/* bottom */
p, ewfUnorderedLineList, ewfUnorderedStackList, ewfHtmlBlock ul {
	margin-bottom: 0;
}
ewfFlowCheckboxAllStates > ewfFlowCheckboxNestedContentContainer {
	margin-bottom: 1em;
}

/* lists */
ewfUnorderedLineList > ewfComponentListItem {
	margin-left: .5em;
}
ewfUnorderedLineList > ewfComponentListItem:first-child {
	margin-left: 0;
}
ewfUnorderedStackList > ewfComponentListItem, ewfOrderedStackList > ewfComponentListItem, ewfHtmlBlock li {
	margin-top: .5em;
}
ewfUnorderedStackList > ewfComponentListItem:first-child, ewfOrderedStackList > ewfComponentListItem:first-child, ewfHtmlBlock li:first-child {
	margin-top: 0;
}
ewfUnorderedWrappingList {
	margin-right: -.25em;
	margin-bottom: -.25em;
	margin-left: -.25em;
}
ewfUnorderedWrappingList > ewfComponentListItem {
	margin: .25em;
}
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem,
ewfMergeRowTreeContainer ewfUnorderedStackList > ewfComponentListItem {
	margin-top: 0;
	margin-bottom: 0;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: .75em;
	padding-bottom: .75em;
}
ewfStackFormItemList > ewfFormItemListItem:first-child, ewfStackFormItemList > ewfFormItemListButtonItem:first-child,
ewfMergeRowTreeContainer ewfUnorderedStackList > ewfComponentListItem:first-child {
	border-top: 0;
	padding-top: 0;
}
ewfStackFormItemList > ewfFormItemListItem:last-child, ewfStackFormItemList > ewfFormItemListButtonItem:last-child,
ewfMergeRowTreeContainer ewfUnorderedStackList > ewfComponentListItem:last-child {
	padding-bottom: 0;
}
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem {
	margin-left: -.5em;
	margin-right: -.5em;
}
ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemLabel, ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemContent,
ewfStackFormItemList > ewfFormItemListButtonItem > ewfFormItemListItemLabel, ewfStackFormItemList > ewfFormItemListButtonItem > ewfFormItemListItemContent {
	margin-left: .5em;
	margin-right: .5em;
}
ewfWrappingFormItemList {
	margin-right: -.5em;
	margin-bottom: -.5em;
	margin-left: -.5em;
}
ewfWrappingFormItemList > ewfFormItemListItem, ewfWrappingFormItemList > ewfFormItemListButtonItem {
	margin: .5em;
}
ewfGridFormItemList {
	grid-gap: 1em;
}

ewfFlowCheckboxAllStates > ewfFlowCheckboxNestedContentContainer {
	margin-left: 3em;
}

ewfModalBox > ewfModalBoxCloseButtonContainer {
	padding: .5em;
}


/* border colors */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer,
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem,
ewfMergeRowTreeContainer ewfUnorderedStackList > ewfComponentListItem {
	border-color: rgba( 0, 0, 0, 0.1 );
}
ewfSingleLineTextControlAllStates, ewfMultilineTextControlAllStates,
ewfModalBox > ewfModalBoxCloseButtonContainer {
	border-color: hsla( 0, 0%, 58%, 1 );
}

/* focus */
ewfHyperlinkStandardStyleStatesWithFocus, ewfActionComponentAllStylesStatesWithFocus.icon {
	outline: 2px solid hsl( 209, 91%, 47% );
}
ewfActionComponentAllButtonStylesStatesWithFocus {
	outline: 2px solid hsl( 209, 91%, 47% );
	outline-offset: 1px;
}
ewfSingleLineTextControlFocusState, ewfMultilineTextControlFocusState {
	box-shadow: 0 0 8px hsla( 209, 91%, 47%, 0.3 );
	border-color: hsla( 209, 91%, 47%, 1 );
	outline: none;
}

/* sections */
ewfSectionAllStylesBothStates {
	clear: both;
}
ewfSectionAllStylesBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel, ewfSectionAllStylesBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	float: right;
}
ewfSectionAllStylesClosedState > ewfSectionHeadingContainer > ewfSectionCloseLabel, ewfSectionAllStylesExpandedState > ewfSectionHeadingContainer > ewfSectionExpandLabel {
	display: none;
}
ewfSectionAllStylesClosedState > ewfSectionContentContainer {
	display: none;
}

/* lists */
ewfUnorderedLineList, ewfUnorderedStackList, ewfUnorderedWrappingList, ewfUnorderedInlineList {
	padding: 0;
	list-style-type: none;
}
ewfUnorderedLineList, ewfUnorderedStackList, ewfUnorderedWrappingList,
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem,
ewfWrappingFormItemList {
	display: flex;
}
ewfUnorderedLineList:not( .ewfFvaT ):not( .ewfFvaB ):not( .ewfFvaC ):not( .ewfFvaBl ),
ewfUnorderedWrappingList:not( .ewfFvaT ):not( .ewfFvaB ):not( .ewfFvaC ):not( .ewfFvaBl ),
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem,
ewfWrappingFormItemList {
	align-items: center;
}
ewfUnorderedLineList {
	flex-flow: row nowrap;
}
ewfUnorderedStackList {
	flex-flow: column nowrap;
}
ewfUnorderedWrappingList,
ewfStackFormItemList > ewfFormItemListItem, ewfStackFormItemList > ewfFormItemListButtonItem,
ewfWrappingFormItemList {
	flex-flow: row wrap;
}
ewfStackFormItemList, ewfGridFormItemList {
	clear: both;
}
ewfGridFormItemList {
	display: grid;
}
ewfUnorderedInlineList, ewfUnorderedInlineList > ewfComponentListItem, ewfInlineListItemContentContainer {
	display: inline;
}
ewfUnorderedInlineList > ewfComponentListItem + ewfComponentListItem::before {
	content: " | ";
}
ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemLabel, ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemContent,
ewfStackFormItemList > ewfFormItemListButtonItem > ewfFormItemListItemLabel, ewfStackFormItemList > ewfFormItemListButtonItem > ewfFormItemListItemContent {
	min-width: 0;
	flex-grow: 1;
}
ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemContent,
ewfStackFormItemList > ewfFormItemListButtonItem > ewfFormItemListItemContent {
	align-self: stretch;
}
ewfGridFormItemList > ewfFormItemListItem, ewfGridFormItemList > ewfFormItemListButtonItem {
	min-width: 0;
}
ewfGridFormItemList > ewfFormItemListButtonItem {
	grid-column-end: -1;
}
.ewfFaL {
	justify-content: flex-start;
}
.ewfFaR {
	justify-content: flex-end;
}
.ewfFaC {
	justify-content: center;
}
.ewfFaJ {
	justify-content: space-between;
}
.ewfFvaT {
	align-items: flex-start;
	align-self: flex-start;
}
.ewfFvaB {
	align-items: flex-end;
	align-self: flex-end;
}
.ewfFvaC {
	align-items: center;
	align-self: center;
}
.ewfFvaBl {
	align-items: baseline;
	align-self: baseline;
}
.ewfGaL {
	justify-items: start;
	justify-self: start;
}
.ewfGaR {
	justify-items: end;
	justify-self: end;
}
.ewfGaC {
	justify-items: center;
	justify-self: center;
}
.ewfGaS {
	justify-items: stretch;
	justify-self: stretch;
}
.ewfGvaT {
	align-items: start;
	align-self: start;
}
.ewfGvaB {
	align-items: end;
	align-self: end;
}
.ewfGvaC {
	align-items: center;
	align-self: center;
}
.ewfGvaS {
	align-items: stretch;
	align-self: stretch;
}
ewfStandardControlStack > ewfControlStackItem {
	margin-top: 4px;
}
ewfStandardControlStack > ewfControlStackItem:first-child {
	margin-top: 0;
}
ewfControlLine {
	display: inline-block;
	vertical-align: top; /* We need any value except baseline to prevent extra vertical spacing. */
}
ewfControlLine > ewfControlLineItem {
	padding-left: 8px;
}
ewfControlLine > ewfControlLineItem:first-child {
	padding-left: 0;
}
div.ewfControlList > div > table {
	width: 100%;
	table-layout: fixed;
}

/* action components */
ewfActionComponentAllStylesAllStates {
	margin: 0;
	border-style: none;
	background-color: Transparent;
	padding: 0;
}
ewfActionComponentAllStylesAllStates::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
ewfActionComponentAllStylesAllStates > ewfIcon {
	padding-left: .4em;
	padding-right: .4em;
}
ewfActionComponentAllStylesAllStates > ewfIcon:first-child {
	padding-left: 0;
}
ewfActionComponentAllStylesAllStates > ewfIcon:last-child {
	padding-right: 0;
}
ewfActionComponentAllButtonStylesAllStates, ewfTopWarningContainer ewfActionComponentAllButtonStylesAllStates {
	display: inline-block;
	font-weight: initial;
	white-space: nowrap;
}
ewfActionComponentShrinkWrapButtonStyleAllStates, ewfTopWarningContainer ewfActionComponentShrinkWrapButtonStyleAllStates {
	border-radius: .25em;
	padding: .1em .3em;
}
ewfActionComponentNormalButtonStyleAllStates {
	border-radius: .4em;
	padding: .6em;
}
ewfActionComponentLargeButtonStyleAllStates {
	font-size: 1.4em;
	border-radius: .5em;
	padding: 1em;
	font-weight: 600;
}
button {
	font: inherit;
}

/* images */
img {
	border-width: 0; /* Remove default borders around images when they are inside anchor tags. */
}
img.ewfAutoSizer {
	display: block;
	width: 100%;
}

/* tables */
table {
	border-width: 0;
	padding: 0;
	border-spacing: 0;
}
ewfTableStandardAndStandardLayoutOnlyStyles {
	width: 100%;
	table-layout: fixed;
	clear: both;
}
th {
	padding: 0;
	text-align: left;
}
td {
	padding: 0;
}
th.ewfTcTop, td.ewfTcTop {
	vertical-align: top;
}
th.ewfTcMiddle, td.ewfTcMiddle {
	vertical-align: middle;
}
th.ewfTcBottom, td.ewfTcBottom {
	vertical-align: bottom;
}
th.ewfTcBaseLine, td.ewfTcBaseLine {
	vertical-align: baseline;
}
.ewfOverflowedCell {
	overflow: hidden;
}
ewfTableItemLimitingAndGeneralActionContainer {
	display: flex;
	flex-flow: row wrap;
}
ewfTableActionListContainer {
	flex-grow: 1;
}
ewfTableActionListContainer > ewfUnorderedWrappingList {
	justify-content: flex-end;
}

/* text control */
ewfSingleLineTextControlAllStates, ewfMultilineTextControlAllStates {
	font-size: inherit;
	font-family: inherit;
	box-sizing: border-box;
	max-width: 100%;
	border-width: 1px;
	border-style: solid;
	border-radius: .4em;
	padding: .5em .75em;
	color: hsla( 215, 11%, 22%, 1 );
}
ewfMultilineTextControlAllStates {
	width: 35em;
	resize: vertical;
}
/* This prevents Chrome and Safari from allowing the user to resize textareas. */
textarea {
	resize: none;
}
ewfSingleLineTextControlAllStates[type="password"], ewfSingleLineTextControlAllStates[type="email"], ewfSingleLineTextControlAllStates[type="tel"] {
	width: 20em;
}

/* checkboxes */
ewfFlowCheckboxAllStates > ewfCheckbox {
	display: block;
}

/* list controls */
.select-css {
	display: inline-block;
	width: auto;
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: unset;
	font-family: unset;
	font-weight: unset;
}
ewfDropDownListContainer > ewfDropDownList {
	text-align: start;
}
ewfStackFormItemList > ewfFormItemListItem > ewfFormItemListItemContent > ewfDropDownListContainer > ewfDropDownList,
ewfGridFormItemList > ewfFormItemListItem > ewfFormItemListItemContent > ewfDropDownListContainer > ewfDropDownList,
ewfControlStackItem > ewfDropDownListContainer > ewfDropDownList,
ewfTableStandardAndStandardLayoutOnlyStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd > ewfFormItem > ewfFormItemContent > ewfDropDownListContainer > ewfDropDownList {
	width: 100%;
}
ewfCheckboxList > ewfCheckboxListContentContainer > ewfUnorderedComponentList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* date pickers, time pickers, and date and time pickers */
ewfDateControl, ewfTimeControl, ewfDateAndTimeControl {
	display: flex;
}
ewfDateControl ewfIcon, ewfTimeControl ewfIcon {
	font-size: 1.4em;
}
ewfDateControl > ewfSingleLineTextControlAllStates {
	margin-right: .5em;
	width: 100%;
	max-width: 8em;
}
ewfTimeControl > ewfSingleLineTextControlAllStates {
	margin-right: .5em;
	width: 100%;
	max-width: 5em;
}
ewfTimeControl > ewfDropDownListContainer {
	width: 100%;
	max-width: 6em;
}
ewfTimeControl > ewfDropDownListContainer > ewfDropDownList {
	width: 100%;
}
ewfDateAndTimeControl > ewfSingleLineTextControlAllStates {
	margin-right: .5em;
	width: 100%;
	max-width: 12em;
}
ewfDateAndTimeControl .fa-stack {
	font-size: .7em;
}
ewfDateAndTimeControl ewfIcon.fa-clock-o {
	position: relative;
	top: .20em;
}
ewfDurationControlContainer > ewfSingleLineTextControlAllStates {
	width: 100%;
	max-width: 6em;
}

/* Text alignment. NOTE: The classes ewfCurrencyCell, ewfRightAlignCell, and ewfCenterCell are deprecated. Eliminate them from all systems and then remove them from these rules. */
.ewfTaL {
	text-align: left;
}
.ewfTaR, .ewfCurrencyCell, .ewfCurrencyCell input[type="text"], .ewfRightAlignCell, .ewfRightAlignCell input[type="text"] {
	text-align: right;
}
.ewfTaC, .ewfCenterCell {
	text-align: center;
}
.ewfTaJ {
	text-align: justify;
}

/* cursors */
ewfActionComponentAllStylesAllActionStates, .ewfAc {
	cursor: pointer;
}
ewfActionComponentAllStylesActionlessState, .ewfAec {
	cursor: default;
}

/* tool tips */
.qtip-content {
	max-height: 80vh;
	overflow-y: auto;
}

/* modal boxes */
ewfModalBoxContainer {
	border-style: none;
	padding: 0;
}
ewfModalBox {
	display: flex;
	max-width: 80vw;
	max-height: 80vh;
	flex-direction: column;
}
ewfModalBox > ewfModalBoxCloseButtonContainer {
	flex: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: .5em;
	text-align: right;
}
ewfModalBox > ewfModalBoxContentContainer {
	padding: 1em;
	max-width: 35em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
ewfModalBox > iframe {
	flex: auto;
	border-style: none;
	width: 35em;
	max-width: 100%;
	height: 35em;
	min-height: 0;
}
ewfModalBoxBackdrop {
	background-color: hsla( 0, 0%, 0%, .65 );
}

/* user management */
ewfFormItemList.newPassword ewfSingleLineTextControlAllStates {
	width: 200px;
}

/* mail merging */
ewfMergeFieldTreeChildContainer, ewfMergeRowTreeChildContainer {
	margin-left: 2em;
}

/* error messages */
*[tabindex="-1"]:focus {
	outline: none;
}

/* EwfPage and master page */
ewfTopWarningContainer {
	z-index: 9998;
}
ewfNotificationSectionContainerBothStates {
	z-index: 9999;
}
ewfClickBlockerBothStates {
	z-index: 10000;
}
ewfProcessingDialogBlockAllStates {
	z-index: 10001;
}
ewfTopWarningContainer {
	position: relative;
	font-size: 1rem;
	margin-bottom: .5em;
	border: 1px solid #464646;
	border-radius: .5em;
	background-color: hsla( 43, 100%, 54%, 0.75 );
	padding: .5em;
	text-align: center;
	font-weight: bold;
	color: black;
}
@media print {
	ewfTopWarningContainer {
		display: none;
	}
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllStates {
	color: white;
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllNormalStates,
ewfTopWarningContainer ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: hsla( 4, 100%, 32%, 1 );
}
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithHover,
ewfTopWarningContainer ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
span.ewfIntermediateUrl {
	word-break: break-all;
}
ewfClickBlockerBothStates {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: gray;
}
ewfClickBlockerInactiveState {
	visibility: hidden;
	opacity: 0;
	transition: visibility 400ms, opacity 400ms;
}
ewfClickBlockerActiveState {
	opacity: 0.3;
	transition: opacity 400ms;
}
ewfProcessingDialogBlockAllStates {
	position: fixed;
	font-size: .8rem;
	top: 50%;
	left: 50%;
	margin-top: -4.5rem;
	margin-left: -9rem;
	box-shadow: 0 0 15px black;
	border-radius: 15px;
	background-color: white;
	padding: .5rem;
	width: 17rem;
	text-align: center;
	color: black;
}
ewfProcessingDialogBlockInactiveState, ewfProcessingDialogBlockActiveState {
	height: 4rem;
}
ewfProcessingDialogBlockInactiveState {
	visibility: hidden;
	opacity: 0;
	transition: height 0 400ms, visibility 400ms, opacity 400ms;
}
ewfProcessingDialogBlockActiveState {
	transition: opacity 400ms;
}
ewfProcessingDialogBlockTimeOutState {
	height: 8rem;
	transition: height 200ms;
}
ewfProcessingDialogProcessingParagraph {
	font-size: 2em;
	display: flex;
	margin: 0;
	height: 4rem;
	justify-content: center;
	align-items: center;
	cursor: default;
}
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis1,
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis2,
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis3 {
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis1 {
	animation-delay: 0;
}
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis2 {
	animation-delay: 200ms;
}
ewfProcessingDialogProcessingParagraph > .ewfProcessingEllipsis3 {
	animation-delay: 300ms;
}
ewfProcessingDialogTimeOutParagraphBothStates {
	display: flex;
	margin: 0;
	height: 4rem;
	justify-content: center;
	align-items: center;
}
ewfProcessingDialogTimeOutParagraphInactiveState {
	visibility: hidden;
	transition: visibility 400ms;
}
ewfProcessingDialogTimeOutParagraphActiveState {
	transition: visibility 0 200ms;
}
ewfNotificationSectionContainerBothStates {
	position: fixed;
	font-size: 1rem;
	top: 0;
	left: 50%;
	width: 80%;
	min-width: 10rem;
	max-width: 40rem;
}
ewfNotificationSectionContainerNotificationState {
	transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
}
ewfNotificationSectionContainerDockedState {
	transform: translateX( -50% );
	animation-name: notificationSectionPosition;
}
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates {
	background-color: white;
	color: black;
}
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleBothStates {
	font-size: 1.2em;
	box-shadow: 0 0 15px black;
	border-radius: 1em;
	padding: 2em;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates {
	font-size: 1rem;
	box-shadow: 0 2px 6px rgba( 0, 0, 0, .5 );
	border-radius: 0 0 .5em .5em;
	padding: .2rem 1em;
	transition-property: font-size, box-shadow, border-radius, padding;
}
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	border-style: none;
	overflow: hidden;

	/* See http://stackoverflow.com/a/4407335/35349. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin: 0;
	padding: 0;
	height: 0;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin-top: -.2rem;
	margin-left: -1em;
	margin-right: -1em;
	background-color: rgba( 0, 0, 0, .05 );
	padding: .2rem 1em;
	animation-name: notificationSectionDisplay;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer {
	margin-bottom: -.2rem;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer {
	margin-bottom: .2rem;
}
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin: 0;
}
ewfNotificationSectionContainerBothStates > ewfSectionBoxStyleBothStates > ewfSectionContentContainer {
	display: block;
	overflow: hidden;
}
/* Using max-height in these two rules is a hack. We'd like to remove the first rule and use height in the second, but height doesn't transition properly when
	"auto" is involved. */
ewfNotificationSectionContainerNotificationState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	max-height: 100em;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	max-height: 0;
	transition-property: max-height;
}
ewfNotificationSpacer {
	height: 1.8rem;
}
ewfInfoMessageContainer > ewfIcon {
	color: rgb( 120, 160, 195 );
}
ewfWarningMessageContainer > ewfIcon {
	color: #E69017;
}
ewfWarningMessageContainer > ewfStatusMessageText {
	font-weight: bold;
}
ewfNotificationSectionContainerDockedState {
	animation-duration: 800ms;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates, ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleClosedState > ewfSectionContentContainer {
	transition-delay: 400ms;
}
ewfNotificationSectionContainerDockedState > ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	animation-duration: 400ms;
}
@keyframes notificationSectionPosition {
	0% {
		transform: translateX( -50% ) translateY( 50vh ) translateY( -50% );
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateX( -50% ) translateY( -50vh ) translateY( -50% );
	}
	75% {
		transform: translateX( -50% ) translateY( -1.7em );
		animation-timing-function: ease-out;
	}
}
@keyframes notificationSectionDisplay {
	0% {
		margin: 0;
		padding: 0;
		height: 0;
	}
	99.9% {
		margin: 0;
		padding: 0;
		height: 0;
	}
}
.profiler-results {
	opacity: .4;
}
.profiler-results:hover {
	opacity: 1;
}
@media print {
	.profiler-results {
		display: none;
	}
}

/* SelectUser and error pages */
ewfSelectUserPageBody, ewfErrorPageBody {
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 60em;
	color: black;
}
ewfSelectUserPageBody ewfHyperlinkStandardStyleAllNormalStates,
ewfSelectUserPageBody ewfHyperlinkStandardStyleAllVisitedStates,
ewfErrorPageBody ewfHyperlinkStandardStyleAllNormalStates,
ewfErrorPageBody ewfHyperlinkStandardStyleAllVisitedStates {
	color: hsla( 4, 100%, 32%, 1 );
}
ewfSelectUserPageBody ewfActionComponentAllButtonStylesAllNormalStates,
ewfSelectUserPageBody ewfActionComponentAllButtonStylesAllVisitedStates,
ewfErrorPageBody ewfActionComponentAllButtonStylesAllNormalStates,
ewfErrorPageBody ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: hsla( 4, 100%, 32%, 1 );
}
ewfSelectUserPageBody ewfHyperlinkStandardStyleStatesWithHover,
ewfSelectUserPageBody ewfHyperlinkStandardStyleStatesWithFocus,
ewfErrorPageBody ewfHyperlinkStandardStyleStatesWithHover,
ewfErrorPageBody ewfHyperlinkStandardStyleStatesWithFocus {
	color: hsla( 4, 100%, 45%, 1 );
}
ewfSelectUserPageBody ewfActionComponentAllButtonStylesStatesWithHover,
ewfSelectUserPageBody ewfActionComponentAllButtonStylesStatesWithFocus,
ewfErrorPageBody ewfActionComponentAllButtonStylesStatesWithHover,
ewfErrorPageBody ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
ewfSelectUserPageBody ewfHyperlinkStandardStyleAllStates,
ewfErrorPageBody ewfHyperlinkStandardStyleAllStates {
	text-decoration: underline;
}
ewfSelectUserPageBody ewfActionComponentAllButtonStylesAllStates,
ewfErrorPageBody ewfActionComponentAllButtonStylesAllStates {
	display: inline-block;
	color: white;
}
ewfSelectUserPageBody ewfActionComponentLargeButtonStyleAllStates,
ewfErrorPageBody ewfActionComponentLargeButtonStyleAllStates {
	font-size: 1.4em;
	border-radius: .5em;
	padding: 1em;
	font-weight: 600;
}

/* fonts */
ewfTopWarningContainer, ewfProcessingDialogBlockAllStates, ewfNotificationSectionContainerBothStates, ewfSelectUserPageBody, ewfErrorPageBody {
	font-family: 'Open Sans', sans-serif;
}
ewfSelectUserPageBody h1, ewfErrorPageBody h1 {
	font-family: 'Libre Franklin', sans-serif;
}