/* FancyFileManager */

.upload-box > div.dropWrapper {
	width: 90%;
	margin: 5px auto;
}

.upload-box > div.dropWrapper.hovering {
	-moz-animation: pulseShadow 4s infinite ease;
	-webkit-animation: pulseShadow 4s infinite ease;
	animation: pulseShadow 4s infinite ease;
}

.upload-box > div, .upload-box > div > div.dropZone {
	border-radius: 10px;
}
.upload-box > div > div.dropZone {
	border: #78A0C3 dotted 5px;
	padding: .1em;
}
.dropFilesHereMessage {
	opacity: .5;
	font-size: 40pt;
	text-align: center;
	color: white;
	text-shadow: black 0 0 0.1em;
}

.closingX {
	background-color: #78A0C3; /* Fallback */
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent) repeat scroll 0 0 #78A0C3; /* Firefox 3.6+ */
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.01))) repeat scroll 0 0 #78A0C3; /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent) repeat scroll 0 0 #78A0C3; /* Safari 5.1, Chrome 10+ */
	background: -ms-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent) repeat scroll 0 0 #78A0C3; /* IE 10 */
	background: -o-linear-gradient(center top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.01) 50%, transparent) repeat scroll 0 0 #78A0C3; /* Opera 11.10+ */
	padding: .2em;
	font-weight: bold;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	color: white;
	cursor: default;
}
.closingX:hover {
	background-color: #27557F;
	box-shadow: 0 0 3px black;
}

.queuedFiles > table {
	width: 100%;
}

tr.queuedFile > td {
	padding: .3em;
}

.queuedFiles > .upload-count {
	font-size: 1em;
	margin: 0;
	padding: 4px;
	background-color: transparent; /* This file cannot be moved without updating this url */
	background-image: url("Backgrounds/Darker.svg");
}

.fileError {
	color: red;
	font-weight: bold;
}

@-moz-keyframes pulseShadow {
	0%	{ box-shadow: 0 0 0px #FFC87B; }
	50% { box-shadow: 0 0 30px #FFC87B; }	
	100% { box-shadow: 0 0 0px #FFC87B; }
}
@-webkit-keyframes pulseShadow {
	0%	{ box-shadow: 0 0 0px #FFC87B; }
	50% { box-shadow: 0 0 30px #FFC87B; }	
	100% { box-shadow: 0 0 0px #FFC87B; }
}
@keyframes pulseShadow {
	0%	{ box-shadow: 0 0 0px #FFC87B; }
	50% { box-shadow: 0 0 30px #FFC87B; }	
	100% { box-shadow: 0 0 0px #FFC87B; }
}


/*NOTE: The calendar styles should be prefixed with ewf and moved to the EwfControls style sheet.*/
/*Calendar*/

.calendarViewHeader {
	padding: 6px;
}

.ewfNavigationBoxHeader {
	background-color: #718ba5;
	border: solid 1px #999999;
}

.calendarViewHeader table {
	width: 100%;
}

.calendarViewNavButtons {
	text-align: right;
}
.calendarViewNavButtons button {
	margin-right: 10px;
}

/*MonthViewCalendar*/

table.ewfMonthView {
	width: 100%;
	table-layout: fixed;
}
table.ewfMonthViewCalendar {
	border: solid 1px #999999;
}
table.ewfMonthView > tbody > tr > td {
	padding: 4px;
	font-size: 11px;
	color: #000000;
	height: 105px;
	vertical-align: top;
}
table.ewfMonthView > tbody > tr > td.commonHeader {
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	height: auto;
	color: white;
}

table.ewfMonthView > tbody > tr > td.ewfDaysOfWeekHeader {
	background-color: #91b5d8;
}

table.ewfMonthView > tbody > tr > td.ewfDaySpacer {
	background-color: #daddde;
	border: solid 1px #999999;
}
table.ewfMonthView > tbody > tr > td.ewfDay {
	background-color: #edf1f2;
	border: solid 1px #999999;
}
table.ewfMonthView > tbody > tr > td.ewfToday {
	background-color: #d5ebf0;
	border: solid 1px #999999;
}
table.ewfMonthView > tbody > tr > td > p.dayLabel {
	padding: 0px;
	margin: 0px 0px 3px 0px;
}

/*NOTE: These should probably be moved to the Basic style sheet.*/
/* UpdatePanel Loading message */
.ajaxLoadingMessage {
	padding: 4px;
	margin: 3px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

/* This prevents Chrome and Safari from allowing the user to resize textareas */
textarea {
	resize: none;
}

/*NOTE: Move to Ewf UI style sheet.*/
body.ewf ewfModalConfirmationBlock {
	width: 590px;
	height: 120px;
	overflow: hidden;
	border-style: none;
	table-layout: fixed;
}

body.ewf ewfModalConfirmationBlock > tbody > tr td {
	padding: 5px;
}
