<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60919" targetFramework="net40" />
  <package id="Aspose.Cells" version="7.3.4" targetFramework="net40" />
  <package id="Aspose.Pdf" version="7.5.0" targetFramework="net40" />
  <package id="Aspose.Words" version="11.10.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Selenium.RC" version="2.28.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" />
</packages>