<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net40" />
  <package id="Aspose.Cells" version="7.5.0" targetFramework="net40" />
  <package id="Aspose.Pdf" version="8.1.0" targetFramework="net40" />
  <package id="Aspose.Words" version="13.6.0" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="Selenium.RC" version="2.33.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" />
</packages>