/* To override any of these styles in a system, prefix your rules with ewfUiBody (if they don't include an element starting with ewfUi) to ensure that they only apply to the EWF UI. */

body {
	background-color: white;
	color: black;
}

/* content block */
ewfUiTopTabControlList > ewfControlLineItem > ewfUiCurrentTabActionControl, ewfUiSideTabCell > ewfUiCurrentTabActionControl, ewfUiContentCell, ewfUiContentFootCell {
	background-color: #e7edf3;
	color: black;
}

/* borders */
ewfUiTopTabControlList > ewfControlLineItem > ewfUiCurrentTabActionControl, ewfUiSideTabCell > ewfUiCurrentTabActionControl, ewfUiContentCell, ewfUiContentFootCell, ewfTableStandardAndStandardExceptLayoutStyles, ewfBoxBothStates {
	border-color: #78a0c3;
}
ewfUiGlobalNavBlock, ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesAllStates, ewfUiSideTabCell > ewfActionControlAllStylesAllStates, div.ewfButtonsBottomBorder {
	background-color: #78a0c3;
}

/* contrast */
ewfUiContentFootBlock, ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast, ewfBoxBothStates > ewfBoxHeadingAllLevels {
	background-color: #d4e0ec; /* hack for IE8 */
	background-color: rgba( 0, 0, 0, 0 ); /* cancels out IE8 hack for all other browsers */
	background-image: url('../Backgrounds/Darker.svg');
}

/* text style action controls */
ewfActionControlTextStyleAllNormalStates, ewfActionControlTextStyleAllVisitedStates, ewfHtmlBlock a {
	color: #7C13B8;
}
ewfActionControlTextStyleStatesWithHoverAndWithoutActive {
	color: #A75DD1;
}
ewfActionControlTextStyleAllActiveStates {
	color: #7C13B8;
}

/* global nav block, top tabs, and side tabs */
ewfUiGlobalNavBlock, ewfUiGlobalNavBlock ewfActionControlAllStylesAllStates, ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesAllStates, ewfUiSideTabCell > ewfActionControlAllStylesAllStates {
	color: white;
}
ewfUiTopTabControlList > ewfControlLineItem > ewfUiDisabledTabActionControl, ewfUiSideTabCell > ewfUiDisabledTabActionControl {
	opacity: .2; /* Standard */
	filter: alpha(opacity=20); /* IE */
}
ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesAllStates, ewfUiSideTabCell > ewfActionControlAllStylesAllStates {
	border-color: transparent;
}
ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesStatesWithHover, ewfUiSideTabCell > ewfActionControlAllStylesStatesWithHover, ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesStatesWithFocus, ewfUiSideTabCell > ewfActionControlAllStylesStatesWithFocus {
	background-image: url('../Backgrounds/Lighter.svg');
}

/* table rows with action */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover {
	background-color: #CFA8E5 !important /* Remove "important" when we drop IE7/8 support and enable the :not pseudo class in table row selectors. */;
	background-image: none;
}

/* check box list checked boxes */
.checkedChecklistCheckboxDiv {
	background-color: #b3ffb2;
}

/* new content */
ewfUiGlobalNavBlock ewfActionControlAllStylesAllNewContentActionStates, ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllNewContentActionStates, ewfUiTopTabControlList > ewfControlLineItem > ewfActionControlAllStylesAllNewContentActionStates, ewfUiSideTabCell > ewfActionControlAllStylesAllNewContentActionStates {
	background-color: #ff5500;
}
ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllNewContentActionStates {
	color: white;
}
.ewfNewness {
	color: #ff5500;
}

/* UI hints */
ewfBoxBothStates > ewfBoxExpandLabel, ewfBoxBothStates > ewfBoxCloseLabel {
	opacity: .5;
}

/* entity nav and action block */
ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllNormalContentActionStates {
	color: #336699;
}

/* shadows */
ewfUiGlobalNavBlock ewfActionControlAllStylesStatesWithHover, ewfUiEntityNavAndActionBlock ewfActionControlAllStylesStatesWithHover {
	box-shadow: 0 0 1em #336699;
}
