body {
	background-color: white;
	color: black;
}

/* contrast */
ewfSectionBoxStyleBothStates,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast,
.checkedChecklistCheckboxDiv {
	background-image: url( '../../VersionedStaticFiles/Backgrounds-v2/Darker.svg' );
}

/* block highlighting */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover,
ewfUiTopTabBlock ewfUiCurrentTabActionControl,
ewfUiSideTabBlock ewfUiCurrentTabActionControl {
	background-color: #81989E;
	background-image: none;
}

/* action controls */
ewfActionControlTextStyleAllNormalStates,
ewfActionControlTextStyleAllVisitedStates,
ewfActionControlAllStylesAllNormalStates.icon,
ewfActionControlAllStylesAllVisitedStates.icon,
ewfHtmlBlock a {
	color: hsla( 4, 100%, 32%, 1 );
}
ewfActionControlAllButtonStylesAllNormalStates, ewfActionControlAllButtonStylesAllVisitedStates {
	background-color: hsla( 4, 100%, 32%, 1 );
}
ewfActionControlTextStyleStatesWithHover,
ewfActionControlTextStyleStatesWithFocus,
ewfActionControlAllStylesStatesWithHover.icon,
ewfActionControlAllStylesStatesWithFocus.icon {
	color: hsla( 4, 100%, 45%, 1 );
}
ewfActionControlAllButtonStylesStatesWithHover, ewfActionControlAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
ewfActionControlAllButtonStylesAllStates {
	color: white;
}

/* error messages */
ewfErrorMessageControlListBlock {
	color: hsla( 0, 100%, 47%, 1 );
}
ewfUiTopErrorMessageControlListBlock {
	background-color: hsla( 0, 100%, 47%, 1 );
}

/* global nav block, top tabs, and side tabs */
ewfUiGlobalNavBlock {
	background-color: #005675;
}
ewfUiGlobalNavBlock, ewfUiGlobalNavBlock ewfActionControlAllStylesAllStates {
	color: hsla( 193, 27%, 90%, 1 );
}
ewfUiTopErrorMessageControlListBlock {
	color: white;
}
ewfUiEntityBlock {
	background-color: hsla( 192, 39%, 90%, 1 );
}
ewfUiTopTabBlock, ewfUiSideTabBlock {
	background-color: #9DBEC7;
}
ewfUiTopTabBlock ewfActionControlAllStylesAllStates, ewfUiSideTabBlock ewfActionControlAllStylesAllStates {
	color: inherit;
}
ewfUiTopTabBlock ewfUiDisabledTabActionControl, ewfUiSideTabBlock ewfUiDisabledTabActionControl {
	opacity: .2;
}
ewfUiTopTabBlock ewfActionControlAllStylesStatesWithHover,
ewfUiTopTabBlock ewfActionControlAllStylesStatesWithFocus,
ewfUiSideTabBlock ewfActionControlAllStylesStatesWithHover,
ewfUiSideTabBlock ewfActionControlAllStylesStatesWithFocus {
	background-image: url( '../../VersionedStaticFiles/Backgrounds-v2/Lighter.svg' );
}

/* new content */
ewfUiGlobalNavBlock ewfActionControlAllStylesAllNewContentActionStates,
ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllNewContentActionStates,
ewfUiTopTabBlock ewfActionControlAllStylesAllNewContentActionStates,
ewfUiSideTabBlock ewfActionControlAllStylesAllNewContentActionStates {
	font-weight: bold;
}

/* UI hints */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	opacity: .5;
}