body {
	background-color: hsla( 215, 33%, 93%, 1 );
	color: hsla( 215, 11%, 22%, 1 );
}

/* boxes */
ewfSectionBoxStyleBothStates {
	box-shadow: 0 4px 6px rgba( 51, 56, 63, 0.12 );
	background-color: white;
}

/* contrast */
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody > ewfTrStatesWithContrast,
ewfCheckboxList {
	background-image: linear-gradient( rgba( 0, 0, 0, .05 ), rgba( 0, 0, 0, .05 ) );
}

/* block highlighting */
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrStatesWithActionAndWithHover,
ewfFlowCheckboxHighlightedState > ewfCheckbox,
ewfUiTopTabBlock ewfUiCurrentTabActionControl,
ewfUiSideTabBlock ewfUiCurrentTabActionControl {
	background-color: #81989E;
	background-image: none;
	color: white;
}

/* action controls */
ewfHyperlinkStandardStyleAllNormalStates,
ewfHyperlinkStandardStyleAllVisitedStates,
ewfActionComponentAllStylesAllNormalStates.icon,
ewfActionComponentAllStylesAllVisitedStates.icon,
ewfHtmlBlock a {
	color: hsla( 4, 100%, 32%, 1 );
}
ewfActionComponentAllButtonStylesAllNormalStates, ewfActionComponentAllButtonStylesAllVisitedStates {
	background-color: hsla( 4, 100%, 32%, 1 );
}
ewfHyperlinkStandardStyleStatesWithHover,
ewfHyperlinkStandardStyleStatesWithFocus,
ewfActionComponentAllStylesStatesWithHover.icon,
ewfActionComponentAllStylesStatesWithFocus.icon {
	color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesStatesWithHover, ewfActionComponentAllButtonStylesStatesWithFocus {
	background-color: hsla( 4, 100%, 45%, 1 );
}
ewfActionComponentAllButtonStylesAllStates {
	color: white;
}

/* error messages */
ewfErrorMessageListContainer {
	color: hsla( 0, 100%, 47%, 1 );
}
ewfUiTopErrorMessageListContainer {
	background-color: hsla( 0, 100%, 47%, 1 );
}

/* global nav block, top tabs, and side tabs */
ewfUiGlobalNavListContainer {
	background-color: #005675;
}
ewfUiGlobalNavListContainer, ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllStates {
	color: hsla( 193, 27%, 90%, 1 );
}
ewfUiTopErrorMessageListContainer {
	color: white;
}
ewfUiEntityBlock {
	background-color: hsla( 192, 39%, 90%, 1 );
}
ewfUiTopTabBlock, ewfUiSideTabBlock {
	background-color: #9DBEC7;
}
ewfUiTopTabBlock ewfActionComponentAllStylesAllStates, ewfUiSideTabBlock ewfActionComponentAllStylesAllStates {
	color: inherit;
}
ewfUiTopTabBlock ewfUiDisabledTabActionControl, ewfUiSideTabBlock ewfUiDisabledTabActionControl {
	opacity: .2;
}
ewfUiTopTabBlock ewfActionComponentAllStylesStatesWithHover,
ewfUiTopTabBlock ewfActionComponentAllStylesStatesWithFocus,
ewfUiSideTabBlock ewfActionComponentAllStylesStatesWithHover,
ewfUiSideTabBlock ewfActionComponentAllStylesStatesWithFocus {
	background-image: linear-gradient( rgba( 255, 255, 255, .3 ), rgba( 255, 255, 255, .3 ) );
}

/* new content */
ewfUiGlobalNavListContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiEntityNavAndActionContainer ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiTopTabBlock ewfActionComponentAllStylesAllNewContentActionStates,
ewfUiSideTabBlock ewfActionComponentAllStylesAllNewContentActionStates {
	font-weight: bold;
}

/* UI hints */
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionExpandLabel,
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionCloseLabel {
	opacity: .5;
}