body {
	font-family: 'Open Sans', sans-serif;
}

ewfPagePath,
ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfActionComponentLargeButtonStyleAllStates,
ewfTableStandardAndStandardExceptLayoutStyles > caption,
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfTh {
	font-family: 'Libre Franklin', sans-serif;
}