body {
	font-size: 1rem;
	margin: 1rem auto;
	border: 0;
	padding: 0;
	max-width: 75em;
}
@media print {
	body {
		font-size: 11pt;
		margin: 0;
	}
}

/* headings and sections */
ewfPagePath {
	font-size: 1.4em;
	margin: .3em 0;
}
ewfPagePath > ewfActionComponentAllStylesAllStates {
	font-size: .95em;
}
ewfPagePath > h1 {
	display: inline;
	font-size: 1em;
	margin: 0;
	font-weight: inherit;
}

/* lists */
ewfHtmlBlock ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: circle;
}
.ewfControlList tr td {
	padding-top: .25em;
}
.ewfControlList tr:first-child td {
	padding-top: 0;
}

/* boxes */
ewfSectionBoxStyleBothStates, ewfUiContentBox {
	padding: 1em;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer {
	margin-top: -1em;
	margin-right: -1em;
	margin-left: -1em;
	padding: 1em;
}
ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer {
	margin-bottom: -1em;
}
ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer {
	margin-bottom: 1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin: 0;
}

/* tables */
ewfThAndTd {
	overflow-wrap: break-word;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles {
		border-left: 1pt solid black;
		border-right: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > caption {
	padding-top: .125em; /* prevents text from being cropped by rounded corners in Chrome */
	padding-bottom: .5em;
	text-align: left;
	font-weight: bold;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > th:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ), ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > td:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ) {
	vertical-align: top;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
	padding: .5em;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
		border-bottom: 1pt solid black;
	}
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates:first-child > ewfThAndTd {
		border-top: 1pt solid black;
	}
}
table.ewfStandardDynamicTableCaption {
	margin-bottom: .5em;
	width: 100%;
	table-layout: fixed;
}
table.ewfStandardDynamicTableCaption span.ewfCaption {
	font-weight: bold;
}
table.ewfStandardDynamicTableCaption ewfControlLine {
	margin-top: .25em;
}
table.ewfStandardDynamicTableCaption td.ewfAddItemLink {
	vertical-align: bottom;
	text-align: right;
}
div.ewfStandardDynamicTable > ewfTableStandardAndStandardExceptLayoutStyles {
	margin-top: 0;
}

/* images */
img {
	display: block;
}

/* hyperlinks */
ewfHyperlinkStandardStyleAllStates, ewfHyperlinkAllButtonStylesAllStates {
	text-decoration: underline;
}

/* list controls */
ewfCheckboxList {
	padding: .5em;
}
ewfCheckboxList > ewfCheckboxListActionContainer {
	margin-bottom: .5em;
	text-align: right;
}
ewfCheckboxList > ewfCheckboxListContentContainer {
	margin: -.25em;
	column-gap: .5em;
}
ewfCheckboxList > ewfCheckboxListContentContainer > ewfUnorderedComponentList > ewfComponentListItem > ewfFlowCheckboxAllStates > ewfCheckbox {
	padding: .25em;
}

/* block element vertical spacing */
.ewfControlList, div.ewfStandardDynamicTable, ewfControlStack, div.ewfControlList, ewfUiEntityBlock > *, ewfUiGlobalFootBlock {
	margin-top: 1em;
}
.ewfControlList:first-child, div.ewfStandardDynamicTable:first-child, ewfControlStack:first-child, div.ewfControlList:first-child, ewfUiEntityBlock > *:first-child {
	margin-top: 0;
}
ewfUiPageActionAndContentAndContentFootCell {
	padding-top: 1em;
}

/* corner rounding */
ewfCheckboxList, ewfUiContentBox {
	border-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child {
	border-bottom-left-radius: .5em;
}
ewfSectionBoxStyleBothStates, ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading,
ewfTableStandardAndStandardExceptLayoutStyles,
ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child {
	border-bottom-right-radius: .5em;
}
@media print {
	ewfSectionBoxStyleBothStates, ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading,
	ewfTableStandardAndStandardExceptLayoutStyles,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:first-child,
	ewfTableStandardAndStandardExceptLayoutStyles > tbody:last-child > ewfTrStatesWithContrast:last-child > ewfThAndTd:last-child,
	ewfCheckboxList,
	ewfUiContentBox {
		border-radius: 0;
	}
}

/* error messages */
ewfErrorMessageListContainer {
	font-weight: bold;
}

/* master page */
ewfUiAppLogoAndUserInfoBlock {
	margin-bottom: .5rem;
}
ewfUiUserInfoContainer {
	text-align: right;
}
ewfUiUserInfoContainer > ewfUnorderedInlineList {
	margin-left: .5em;
}
ewfUiGlobalNavListContainer,
ewfUiTopErrorMessageListContainer,
ewfUiEntityBlock,
ewfUiTopTabBlock ewfActionComponentAllStylesAllStates,
ewfUiSideTabGroupHead,
ewfUiSideTabBlock ewfActionComponentAllStylesAllStates {
	padding-left: .5rem;
	padding-right: .5rem;
}
ewfUiGlobalNavListContainer,
ewfUiTopErrorMessageListContainer,
ewfUiEntityBlock,
ewfUiTopTabBlock ewfActionComponentAllStylesAllStates,
ewfUiSideTabBlock {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
ewfUiTopErrorMessageListContainer {
	font-size: 1.4em;
	margin: 1rem 0;
}
@media print {
	ewfUiEntityBlock {
		border-top: 1pt solid black;
		border-bottom: 1pt solid black;
	}
}
ewfUiEntityBlock ewfPagePath {
	margin: 0;
}
ewfUiEntityNavAndActionContainer {
	display: flex;
	margin-top: .5rem;
	align-items: center;
}
UiEntityNavListContainer, ewfUiEntityActionListContainer {
	flex-grow: 1;
}
ewfUiEntityActionListContainer, ewfUiPageActionListContainer {
	text-align: right;
}
ewfUiEntityActionListContainer > ewfUnorderedLineList, ewfUiPageActionListContainer > ewfUnorderedLineList {
	justify-content: flex-end;
}
ewfUiTopTabBlock ewfActionComponentAllStylesAllStates, ewfUiSideTabBlock ewfActionComponentAllStylesAllStates {
	display: block;
	text-decoration: none;
}
ewfUiTopTabBlock > ewfControlLine {
	display: block;
}
ewfUiTopTabBlock > ewfControlLine > ewfControlLineItem {
	padding-left: 0;
}
ewfUiSideTabAndContentBlock {
	width: 100%;
	table-layout: fixed;
}
ewfUiSideTabBlockCell, ewfUiPageActionAndContentAndContentFootCell {
	vertical-align: top;
}
ewfUiSideTabBlockCell {
	padding-right: 1rem;
	width: 12.5em;
}
ewfUiSideTabGroupHead, ewfUiSideTabBlock ewfActionComponentAllStylesAllStates {
	padding-top: .2rem;
	padding-bottom: .2rem;
}
ewfUiSideTabGroupHead {
	font-size: .8em;
}
ewfUiSideTabGroupHead:not( :first-child ) {
	padding-top: .5rem;
}
ewfUiSideTabBlock ewfActionComponentAllStylesAllStates {
	font-size: .9em;
}
ewfUiPageActionListContainer {
	margin-bottom: 1em;
	margin-left: 1em;
}
ewfUiContentFootActionListContainer > ewfUnorderedLineList {
	justify-content: flex-end;
}
ewfUiPoweredByEwlFooterBlock {
	font-size: .9em;
	text-align: center;
}
@media print {
	ewfUiUserInfoContainer,
	ewfUiGlobalNavListContainer,
	ewfUiTopErrorMessageListContainer,
	ewfUiEntityNavAndActionContainer,
	ewfUiSideTabBlockCell,
	ewfUiContentFootBlock {
		display: none;
	}
}