body {
	font-size: 1rem;
	margin: 1rem auto;
	border: 0;
	padding: 0;
	max-width: 75em;
}
@media print {
	body {
		font-size: 11pt;
		margin: 0;
	}
}

/* headings and sections */
ewfPagePath {
	font-size: 1.4em;
	margin: .3em 0;
}
ewfPagePath > ewfActionControlAllStylesAllStates {
	font-size: .95em;
}
ewfPagePath > h1 {
	display: inline;
	font-size: 1em;
	margin: 0;
	font-weight: inherit;
}
ewfSectionNormalStyleBothStates, ewfH2 {
	margin-top: 2em;
}
ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 1em;
}
ewfH2 {
	font-size: 1.2em;
	margin-bottom: 1em;
}
ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates, ewfH3 {
	margin-top: 1em;
}
ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading, ewfH3 {
	font-size: 1.1em;
	margin-bottom: 0;
}
ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates, ewfH4 {
	margin-top: 1em;
}
ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading, ewfH4 {
	font-size: 1em;
	margin-bottom: 0;
}
ewfSectionNormalStyleBothStates:first-child, ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:first-child, ewfSectionAllStylesBothStates ewfSectionAllStylesBothStates ewfSectionNormalStyleBothStates:first-child, ewfH2:first-child, ewfH3:first-child, ewfH4:first-child {
	margin-top: 0;
}

/* lists */
ul {
	margin-left: 1em;
	padding: 0;
	list-style-type: circle;
}
li {
	margin-top: .25em;
}
li:first-child {
	margin-top: 0;
}
.ewfControlList tr td {
	padding-top: .25em;
}
.ewfControlList tr:first-child td {
	padding-top: 0;
}
ewfCheckBoxList table.ewfBlockCheckBox {
	padding-top: .25em;
	padding-bottom: .25em;
}

/* boxes */
ewfSectionBoxStyleBothStates {
	padding: .5em;
}
ewfSectionBoxStyleBothStates > ewfSectionHeadingContainer > ewfSectionHeading {
	font-size: 1em;
	margin-top: -.5em;
	margin-right: -.5em;
	margin-left: -.5em;
	padding: .5em;
}
ewfSectionBoxStyleClosedState > ewfSectionHeadingContainer > ewfSectionHeading {
	margin-bottom: -.5em;
}
ewfSectionBoxStyleExpandedState > ewfSectionHeadingContainer > ewfSectionHeading {
	margin-bottom: .5em;
}

/* tables */
ewfThAndTd {
	overflow: hidden;
	text-overflow: ellipsis;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles {
		border-left: 1pt solid black;
		border-right: 1pt solid black;
	}
}
ewfTableStandardAndStandardExceptLayoutStyles > caption {
	padding-top: .125em; /* prevents text from being cropped by rounded corners in Chrome */
	padding-bottom: .5em;
	text-align: left;
	font-weight: bold;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > th:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ), ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > td:not( .ewfTcTop ):not( .ewfTcMiddle ):not( .ewfTcBottom ):not( .ewfTcBaseLine ) {
	vertical-align: top;
}
ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
	padding: .5em;
}
@media print {
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates > ewfThAndTd {
		border-bottom: 1pt solid black;
	}
	ewfTableStandardAndStandardExceptLayoutStyles > ewfTheadAndTfootAndTbody > ewfTrAllStates:first-child > ewfThAndTd {
		border-top: 1pt solid black;
	}
}
table.ewfStandardDynamicTableCaption {
	margin-bottom: .5em;
	width: 100%;
	table-layout: fixed;
}
table.ewfStandardDynamicTableCaption span.ewfCaption {
	font-weight: bold;
}
table.ewfStandardDynamicTableCaption ewfControlLine {
	margin-top: .25em;
}
table.ewfStandardDynamicTableCaption td.ewfAddItemLink {
	vertical-align: bottom;
	text-align: right;
}
div.ewfStandardDynamicTable > ewfTableStandardAndStandardExceptLayoutStyles {
	margin-top: 0;
}

/* images */
img {
	display: block;
}

/* text style action controls */
ewfActionControlTextStyleAllStates, ewfHtmlBlock a {
	text-decoration: underline;
}

/* block element vertical spacing */
p, ewfSectionNormalStyleBothStates > ewfSectionContentContainer, ul, .ewfControlList, div.ewfStandardDynamicTable, ewfTableStandardAndStandardLayoutOnlyStyles, ewfCheckBoxList, div.ewfStandardFileCollectionManager, div.ewfMergeFieldTree, ewfControlStack, div.ewfControlList, ewfHtmlBlockEditor, ewfSectionBoxStyleBothStates, ewfFormItemBlock, ewfLabeledControl, ewfChart, ewfUiEntityBlock > *, ewfUiGlobalFootBlock {
	margin-top: 1em;
}
p:first-child, ul:first-child, .ewfControlList:first-child, div.ewfStandardDynamicTable:first-child, ewfTableStandardAndStandardLayoutOnlyStyles:first-child, ewfCheckBoxList:first-child, div.ewfStandardFileCollectionManager:first-child, div.ewfMergeFieldTree:first-child, ewfControlStack:first-child, div.ewfControlList:first-child, ewfHtmlBlockEditor:first-child, ewfSectionBoxStyleBothStates:first-child, ewfFormItemBlock:first-child, ewfLabeledControl:first-child, ewfChart:first-child, ewfUiEntityBlock > *:first-child {
	margin-top: 0;
}
ewfUiPageActionAndContentAndContentFootCell {
	padding-top: 1em;
}
p, ul {
	margin-bottom: 0;
}

/* corner rounding */
ewfSectionBoxStyleBothStates, ewfTableStandardAndStandardExceptLayoutStyles, ewfActionControlLargeButtonStyleAllStates {
	border-radius: .5em;
}
ewfActionControlShrinkWrapButtonStyleAllStates {
	border-radius: .25em;
}
ewfActionControlNormalButtonStyleAllStates {
	border-radius: .4em;
}
ewfSectionBoxStyleBothStates, ewfTableStandardAndStandardExceptLayoutStyles {
	overflow: hidden;
}

/* modal windows */
ewfModalSectionContainer {
	width: 35em;
}
ewfModalSectionContainer > ewfSectionNormalStyleBothStates > ewfSectionContentContainer:first-child {
	margin-top: 0;
}

/* error messages */
ewfErrorMessageControlListBlock {
	font-weight: bold;
}

/* master page */
ewfUiAppLogoAndUserInfoBlock {
	margin-bottom: .5rem;
}
ewfUiUserInfoControlList > ewfControlStackItem {
	text-align: right;
}
ewfUiGlobalNavBlock,
ewfUiTopErrorMessageControlListBlock,
ewfUiEntityBlock,
ewfUiTopTabBlock ewfActionControlAllStylesAllStates,
ewfUiSideTabGroupHead,
ewfUiSideTabBlock ewfActionControlAllStylesAllStates {
	padding-left: .5rem;
	padding-right: .5rem;
}
ewfUiGlobalNavBlock,
ewfUiTopErrorMessageControlListBlock,
ewfUiEntityBlock,
ewfUiTopTabBlock ewfActionControlAllStylesAllStates,
ewfUiSideTabBlock {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
ewfUiGlobalNavBlock ewfActionControlAllStylesAllNormalStates,
ewfUiGlobalNavBlock ewfActionControlAllStylesAllVisitedStates,
ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllNormalStates,
ewfUiEntityNavAndActionBlock ewfActionControlAllStylesAllVisitedStates {
	text-decoration: none;
}
ewfUiTopErrorMessageControlListBlock {
	font-size: 1.4em;
	margin: 1rem 0;
}
ewfUiEntityBlock ewfPagePath {
	margin: 0;
}
ewfUiEntityNavAndActionBlock {
	margin-top: .5rem;
	width: 100%;
}
ewfUiEntityActionControlList {
	display: inline-block;
}
ewfUiTopTabBlock ewfActionControlAllStylesAllStates, ewfUiSideTabBlock ewfActionControlAllStylesAllStates {
	display: block;
	text-decoration: none;
}
ewfUiTopTabBlock > ewfControlLine {
	display: block;
}
ewfUiTopTabBlock > ewfControlLine > ewfControlLineItem {
	padding-left: 0;
}
ewfUiSideTabAndContentBlock {
	width: 100%;
	table-layout: fixed;
}
ewfUiSideTabBlockCell, ewfUiPageActionAndContentAndContentFootCell {
	vertical-align: top;
}
ewfUiSideTabBlockCell {
	padding-right: 1rem;
	width: 12.5em;
}
ewfUiSideTabGroupHead, ewfUiSideTabBlock ewfActionControlAllStylesAllStates {
	padding-top: .2rem;
	padding-bottom: .2rem;
}
ewfUiSideTabGroupHead {
	font-size: .8em;
}
ewfUiSideTabGroupHead:not( :first-child ) {
	padding-top: .5rem;
}
ewfUiSideTabBlock ewfActionControlAllStylesAllStates {
	font-size: .9em;
}
ewfUiPageActionControlList {
	float: right;
	margin-bottom: 1em;
	margin-left: 1em;
}
ewfUiContentFootActionControlList {
	line-height: 0;
}
ewfUiContentFootActionControlList > table {
	display: inline-block;
	line-height: normal;
}
ewfUiPoweredByEwlFooterBlock {
	font-size: .9em;
	text-align: center;
}
@media print {
	ewfUiUserInfoControlList,
	ewfUiGlobalNavBlock,
	ewfUiTopErrorMessageControlListBlock,
	ewfUiEntityNavAndActionBlock,
	ewfUiSideTabBlockCell,
	ewfUiContentFootBlock {
		display: none;
	}
}