<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<system.serviceModel>
			<behaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="EnterpriseWebLibrary.WebSite.Service.Service">
				<endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="EnterpriseWebLibrary.WebSite.Service.IService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
